<template>
    <div class="container centered">
        <h5 class="mb-40">Rashifal Manages</h5>
        <el-form :model="rashifal" :rules="rules" ref="rashifal" label-position="left" label-width="140px" class="rashifalform">
           
            <el-form-item label="Rashifal Type" prop="type">
                <el-select v-model="rashifal.type" placeholder="please select Type">
                <el-option label="Day" value="Day"></el-option>
                <el-option label="Week" value="Week"></el-option>
                <el-option label="Month" value="Month"></el-option>
                <el-option label="Year" value="Year"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="Description">
                <!-- <el-col :span="12" class="col-padd">
                <el-input type="textarea" v-model="rashifal.description"></el-input>
                </el-col> -->
                <vue-ckeditor v-model="rashifal.description" :config="config" @blur="onBlur($event)" @focus="onFocus($event)" />
            </el-form-item>
            <el-row>
                <el-col :span="12" class="col-padd">
                    <el-form-item label="Publish From" required>
                        <el-form-item prop="published_from">
                            <el-date-picker v-model="rashifal.published_from" class="publish_from" type="date" placeholder="Pick a Date"
                                format="yyyy/MM/dd" value-format="yyyy-MM-dd">
                            </el-date-picker>
                        </el-form-item>
                    </el-form-item>
                </el-col>
                <el-col :span="12" class="col-padd">
                    <el-form-item label="Publish To" required>
                        <el-form-item prop="published_to">
                            <el-date-picker v-model="rashifal.published_to" type="date" placeholder="Pick a Date" format="yyyy/MM/dd"
                                value-format="yyyy-MM-dd">
                            </el-date-picker>
                        </el-form-item>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="12" class="col-padd">
                    <el-form-item label="Aries" prop="aries">
                        <el-input type="textarea" v-model="rashifal.aries">
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12" class="col-padd">
                    <el-form-item label="Taurus" prop="taurus">
                        <el-input type="textarea" v-model="rashifal.taurus">
                        </el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="12" class="col-padd">
                    <el-form-item label="Gemini" prop="gemini">
                        <el-input type="textarea" v-model="rashifal.gemini">
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12" class="col-padd">
                    <el-form-item label="Cancer" prop="cancer">
                        <el-input type="textarea" v-model="rashifal.cancer">
                        </el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="12" class="col-padd">
                    <el-form-item label="Leo" prop="leo">
                        <el-input type="textarea" v-model="rashifal.leo">
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12" class="col-padd">
                    <el-form-item label="Virgo" prop="virgo">
                        <el-input type="textarea" v-model="rashifal.virgo">
                        </el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="12" class="col-padd">
                    <el-form-item label="Libra" prop="libra">
                        <el-input type="textarea" v-model="rashifal.libra">
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12" class="col-padd">
                    <el-form-item label="Scorpio" prop="scorpio">
                        <el-input type="textarea" v-model="rashifal.scorpio">
                        </el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="12" class="col-padd">
                    <el-form-item label="Sagittarius" prop="sagittarius">
                        <el-input type="textarea" v-model="rashifal.sagittarius">
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12" class="col-padd">
                    <el-form-item label="Capricorn" prop="capricorn">
                        <el-input type="textarea" v-model="rashifal.capricorn">
                        </el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="12" class="col-padd">
                    <el-form-item label="Aquarius" prop="aquarius">
                        <el-input type="textarea" v-model="rashifal.aquarius">
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12" class="col-padd">
                    <el-form-item label="Pisces" prop="pisces">
                        <el-input type="textarea" v-model="rashifal.pisces">
                        </el-input>
                    </el-form-item>
                </el-col>
            </el-row>


            <el-form-item label="Activity type">
                <el-col :span="6">
                    <el-checkbox-group v-model="rashifal.is_active">
                        <el-checkbox label="Is Active" name="type" :value="rashifal.is_active" :checked="!!+rashifal.is_active">
                        </el-checkbox>
                    </el-checkbox-group>
                </el-col>
            </el-form-item>
            
            <el-form-item>
                <el-button type="info" round @click="resetForm('rashifal')">Value Reset</el-button>
                <router-link :to="{ name: 'RashifalManage' }">
                    <el-button type="primary" round>Back</el-button>
                </router-link>
                <el-button type="primary" round @click="submitForm('rashifal')">Save</el-button>
            </el-form-item>
        </el-form>
    </div>
</template>
<style scoped>
    img {
        max-height: 120px;
    }
</style>
<script>
    import VueCkeditor from "vue-ckeditor2";
    import {
        Message
    } from 'element-ui';
    export default {
        props: ["rashifalid", "editation"],
        components: {
            VueCkeditor
        },
        data() {
            return {
                content: "",
                config: {
                    height: 150
                },
                rashifals: [],
                rashifal: {
                    id: '',
                    type: '',
                    description: '',
                    published_by: '',
                    published_from: '',
                    published_to: '',
                    aries: '',
                    taurus: '',
                    gemini: '',
                    cancer: '',
                    leo: '',
                    virgo: '',
                    libra: '',
                    scorpio: '',
                    sagittarius: '',
                    capricorn: '',
                    aquarius: '',
                    pisces: '',
                    is_active: '',
                    rashifal_id:''
                },
                pagination: {},
                edit: false,

                rules: {
                    type: [{
                        required: true,
                        message: "Please Select Type",
                        trigger: "change"
                    }],
                    

                    published_from: [{
                        required: true,
                        message: "Please pick a date",
                        trigger: "change"
                    }],
                    published_to: [{
                        required: true,
                        message: "Please pick a date",
                        trigger: "change"
                    }],
                    aries: [{
                        required: true,
                        message: "Please Insert related data",
                        trigger: "change"
                    }],
                    taurus: [{
                        required: true,
                        message: "Please Insert related data",
                        trigger: "change"
                    }],
                    gemini: [{
                        required: true,
                        message: "Please Insert related data",
                        trigger: "change"
                    }],
                    cancer: [{
                        required: true,
                        message: "Please Insert related data",
                        trigger: "change"
                    }],
                    leo: [{
                        required: true,
                        message: "Please Insert related data",
                        trigger: "change"
                    }],
                    virgo: [{
                        required: true,
                        message: "Please Insert related data",
                        trigger: "change"
                    }],
                    libra: [{
                        required: true,
                        message: "Please Insert related data",
                        trigger: "change"
                    }],
                    scorpio: [{
                        required: true,
                        message: "Please Insert related data",
                        trigger: "change"
                    }],
                    sagittarius: [{
                        required: true,
                        message: "Please Insert related data",
                        trigger: "change"
                    }],
                    capricorn: [{
                        required: true,
                        message: "Please Insert related data",
                        trigger: "change"
                    }],
                    aquarius: [{
                        required: true,
                        message: "Please Insert related data",
                        trigger: "change"
                    }],
                    pisces: [{
                        required: true,
                        message: "Please Insert related data",
                        trigger: "change"
                    }],

                    
                }
            };
        },

        beforeMount() {
            this.loading = this.$loading({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.7)'
            });

            setTimeout(() => {
                this.loading.close();
            }, 500);
            
           if (this.editation != true) {} else {
                var rashifal = this.rashifalid;
                this.EditRashifal(rashifal);
            }
        },
        methods: {
            onBlur(editor) {},

            onFocus(editor) {},
           
            EditRashifal(rashifal) {
                this.edit = true;
                this.rashifal.id = rashifal.id;
                this.rashifal.rashifal_id = rashifal.id;
                this.rashifal.description = rashifal.description;
                this.rashifal.type = rashifal.type;
                this.rashifal.published_from = rashifal.published_from;
                this.rashifal.published_to = rashifal.published_to;
                this.rashifal.aries = rashifal.aries
                this.rashifal.taurus = rashifal.taurus
                this.rashifal.gemini = rashifal.gemini
                this.rashifal.cancer = rashifal.cancer
                this.rashifal.leo = rashifal.leo
                this.rashifal.virgo = rashifal.virgo
                this.rashifal.libra = rashifal.libra
                this.rashifal.scorpio = rashifal.scorpio
                this.rashifal.sagittarius = rashifal.sagittarius
                this.rashifal.capricorn = rashifal.capricorn
                this.rashifal.aquarius = rashifal.aquarius
                this.rashifal.pisces = rashifal.pisces
                this.rashifal.is_active = rashifal.is_active;
            },

            submitForm(formName) {
                this.$refs[formName].validate(valid => {
                    if (valid) {
                        if (this.edit === false) {
                            fetch("api/rashifal", {
                                    method: "POST",
                                    body: JSON.stringify(this.rashifal),
                                    headers: {
                                        "content-type": "application/json",
                                        Authorization: "Bearer " + localStorage.getItem("access_token")
                                    }
                                })
                                .then(res => res.json())
                                .then(data => {
                                    if (data.error) {
                                        this.$message({
                                            showClose: true,
                                            message: data.error,
                                            type: 'error'
                                        })
                                    } else {
                                        this.$router.push('/rashifallisting', () => {
                                            this.$message({
                                                showClose: true,
                                                message: 'Congrats, Ads is Successfully Added to ours System',
                                                type: 'success'
                                            });
                                        });
                                    }
                                })
                                .catch(err => console.log('raja'));
                        } else {
                            fetch("api/rashifal", {
                                    method: "put",
                                    body: JSON.stringify(this.rashifal),
                                    headers: {
                                        "content-type": "application/json",
                                        Authorization: "Bearer " + localStorage.getItem("access_token")
                                    }
                                }).then(res => res.json())
                                .then(data => {
                                    if (data.error) {
                                        this.$message({
                                            showClose: true,
                                            message: data.error,
                                            type: 'error'
                                        })
                                    } else {
                                        this.$router.push('/rashifallisting', () => {
                                            this.$message({
                                                showClose: true,
                                                message: 'Congrats, Items is Successfully Edit to ours System',
                                                type: 'success'
                                            });
                                        });
                                    }
                                })
                                .catch(err => console.log(err));
                        }
                    } else {
                        console.log("error submit!!");
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
        }
    };
</script>