<template>
    <div class="container">
       <h3 class="mb-40">Add User</h3>
        <form @submit.prevent="addUser">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="exampleFormControlInput1">Full Name</label>
                    <input type="text" class="form-control" v-model="user.full_name" >
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="exampleFormControlInput1">Email</label>
                    <input type="email" class="form-control" v-model="user.email" >
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="exampleFormControlInput1">Phone no.</label>
                    <input type="text" class="form-control" v-model="user.phone_no" >
                </div>
            </div>
            <div class="form-row" v-if="!edit">
                <div class="form-group col-md-6">
                    <label for="exampleFormControlInput1">Password</label>
                    <input type="password" class="form-control" v-model="user.password">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="exampleFormControlSelect1">User Role</label>
                    <select class="form-control" v-model="user.user_role" >
                        <option v-for="user_role in user_roles" :value="user_role.id" 
                v-bind:key="user_role.id">{{user_role.role}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                    <input type="checkbox" v-model="user.is_active" :value="user.is_active" :checked="user.is_active">
                    <label for="active">Active</label>
                </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <router-link :to="{ name: 'user_register' }">
                 <button class="btn btn-primary">Back</button>
            </router-link>
        </form>
    </div>
</template>

<script>
  export default {
    props: ['userid', 'editation'],

    data() {
      return {
        users: [],
        user: {
          id: '',
          full_name: '',
          email:'',
          phone_no:'',
          password:'',
          user_role:'',
          is_active:'',
          user_id: '',
        },
        user_roles:[],
        pagination: {},
        edit: false,

      }
    },
    beforeMount(){
        debugger;
        if (this.editation != true){
             this.fetchUserRole();
        }
        else{
            this.fetchUserRole();
            var user = this.userid;
            this.EditUser(user);
        }
       
    },

    methods: {
        fetchUserRole() {
         fetch('api/user_roles',{
          headers: {
                    Authorization: 'Bearer ' + localStorage.getItem('access_token')
                }
        })
          .then(res => res.json())
          .then(res => {
            this.user_roles = res.data;
          })
          .catch(err => console.log(err));
      },

        clearform(){
            this.user.full_name = '';
            this.user.email = '';
            this.user.phone_no = '';
            this.user.password = '';
            this.user.user_role = '';
            this.edit = false;
        },
      
        addUser(){
            if(this.edit === false){
                fetch("api/register",{
                    method:"POST",
                    body:JSON.stringify(this.user),
                    headers:{
                        "content-type":"application/json",
                        Authorization:'Bearer ' +localStorage.getItem('access_token')
                    }
                })
                .then(res =>res.json())
                .then(data =>{
                    this.clearform();
                    this.$router.push('/user_register');
                })
                .catch(err => console.log(err));
            }
            else{
                fetch('api/register',{
                        method: 'put',
                        body: JSON.stringify(this.user),
                        headers:{
                            'content-type':'application/json',
                            Authorization: 'Bearer ' + localStorage.getItem('access_token')
                        }
                    })
                    .then(res =>{
                        debugger;
                        this.$router.push('/user_register');
                    })
                    .catch(err => console.log(err));
            }
        },

     EditUser(edit_user) {
         debugger;
            this.edit = true;
            this.user.id = edit_user.id;
            this.user.user_id = edit_user.user_id;
            this.user.full_name =edit_user.full_name;
            this.user.email = edit_user.email;
            this.user.phone_no =edit_user.phone_no;
            this.user.user_role = edit_user.role_id;
            this.user.is_active = edit_user.is_active;
            },
    }
  }
</script>