<template>
    <el-main>
        <div class="container centered">
            <el-row>
                <el-col :span="24">
                    <div class="grid-content">
                        <el-button type="primary" class="is-right" @click="AddFormclearHandle()" round>Add New</el-button>
                    </div>
                </el-col>
            </el-row>
            <el-dialog class="el-dialog-md" title="Add User" :visible.sync="dialogFormVisible" :before-close="handleClose">
                <el-form :model="user" :rules="rules" ref="user">
                    <el-form-item label="Full Name" prop="full_name">
                        <el-input v-model="user.full_name"></el-input>
                    </el-form-item>
                    <el-form-item label="Email" prop="email">
                        <el-input v-model="user.email"></el-input>
                    </el-form-item>
                    <el-form-item label="Phone No." prop="phone_no">
                        <el-input v-model="user.phone_no"></el-input>
                    </el-form-item>
                    <el-form-item label="Password" prop="password" v-if="!edit">
                        <el-input v-model="user.password"></el-input>
                    </el-form-item>
                    <el-form-item label="Role" prop="user_role">
                        <el-select v-model="user.user_role" placeholder="Please select a zone">
                            <el-option v-for="user_role in user_roles" :value="user_role.id" v-bind:key="user_role.id">{{user_role.role}}</el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="Activity type">
                        <el-col :span="6">
                            <el-checkbox-group v-model="user.is_active">
                                <el-checkbox label="Is Active" name="type" :value="user.is_active" :checked="!!+user.is_active">
                                </el-checkbox>
                            </el-checkbox-group>
                        </el-col>
                    </el-form-item>
                </el-form>

                <span slot="footer" class="dialog-footer">
                    <el-button @click="handleCancle()">Cancel</el-button>
                    <el-button type="primary" @click="resetForm('user')">Reset</el-button>
                    <el-button type="primary" @click="submitForm('user')">Save</el-button>
                </span>
            </el-dialog>

            <el-table :data="users" :default-sort="{prop: 'full_name', order: 'descending'}" style="width: 100%">
                <el-table-column prop="full_name" label="Full Name" sortable>
                </el-table-column>
                <el-table-column prop="email" label="Email">
                </el-table-column>
                <el-table-column prop="phone_no" label="Phone No.">
                </el-table-column>
                <el-table-column prop="role" label="User Role">
                </el-table-column>
                <el-table-column prop="is_active" label="Is Active">
                </el-table-column>
                <el-table-column label="Operations">
                    <template slot-scope="scope">
                        <el-button size="mini" @click="editHandle(scope.row)">Edit</el-button>
                        <!-- <el-button size="mini" type="danger" @click="centerDialogVisible = true" @click="handleDelete(scope.row.id)">Delete</el-button> -->
                        <el-button size="mini" type="danger" @click="Modelhandledelete(scope.row.user_id)">Delete</el-button>

                        <el-dialog title="Warning" :visible.sync="centerDialogVisible" width="30%" center>
                            <span>It should be noted that the content will be deleted</span>
                            <span slot="footer" class="dialog-footer">
                                <el-button @click="centerDialogVisible = false">Cancel</el-button>
                                <el-button type="primary" @click="handleDelete(deleteid)">Confirm</el-button>
                            </span>
                        </el-dialog>
                    </template>
                </el-table-column>

            </el-table>
            <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li v-bind:class="[{disabled: !pagination.pre_page_url}]" class="page-item">
          <a class="page-link" href="#" @click="fetchUsers(pagination.pre_page_url)">Previous</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link text-dark" href="#">Page {{ pagination.current_page}} of {{
            pagination.last_page}}</a>
        </li>
        <li v-bind:class="[{disabled: !pagination.next_page_url}]" class="page-item">
          <a class="page-link" href="#" @click="fetchUsers(pagination.next_page_url)">Next</a>
        </li>
      </ul>
    </nav>
        </div>
    </el-main>
</template>
<style scoped>
    img {
        max-height: 120px;
    }
</style>
<script>
    import {
        Message
    } from 'element-ui';
    export default {

        data() {
            return {
                users: [],
                user: {
                    id: '',
                    full_name: '',
                    email: '',
                    phone_no: '',
                    password: '',
                    user_role: '',
                    is_active: '',
                    user_id: '',
                },
                user_roles: [],
                formLabelWidth: '120px',
                pagination: {},
                edit: false,
                loading: false,
                centerDialogVisible: false,
                dialogFormVisible: false,
                deleteid: 0,

                rules: {
                    full_name: [{
                        required: true,
                        message: "Please input Category name",
                        trigger: "change"
                    }],
                    email: [{
                        required: true,
                        message: "Please pick a Category images",
                        trigger: "change"
                    }],
                    phone_no: [{
                        required: true,
                        message: "Please pick a Category images",
                        trigger: "change"
                    }],
                    password: [{
                        required: true,
                        message: "Please pick a Category images",
                        trigger: "change"
                    }],
                    user_role: [{
                        required: true,
                        message: "Please pick a Category images",
                        trigger: "change"
                    }]

                }
            };
        },

        beforeMount() {
            // this.loading = this.$loading({
            //     lock: true,
            //     text: 'Loading',
            //     spinner: 'el-icon-loading',
            //     background: 'rgba(0, 0, 0, 0.7)'
            // });

            // setTimeout(() => {
            //     this.loading.close();
            // }, 20);
            this.fetchUsers();
            this.fetchUserRole();
        },
        methods: {
            AddFormclearHandle(){
                this.user.full_name = '';
                this.user.email = '';
                this.user.phone_no = '';
                this.user.password = '';
                this.user.user_role = '';
                this.dialogFormVisible = true;
            },
            handleCancle() {
                this.edit = false;
                this.resetForm('user');
                this.dialogFormVisible = false;
            },
            handleClose(done) {
                this.edit = false;
                this.resetForm('user');
                done();
            },

            Modelhandledelete(id) {
                this.centerDialogVisible = true;
                this.deleteid = id;

            },
            fetchUserRole() {
                fetch('api/user_roles', {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('access_token')
                        }
                    })
                    .then(res => res.json())
                    .then(res => {
                        this.user_roles = res.data;
                    })
                    .catch(err => console.log(err));
            },

            Modelhandledelete(id) {
                this.centerDialogVisible = true;
                this.deleteid = id;

            },

            onFileChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length) return;
                this.createImage(files[0]);
            },

            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = e => {
                    this.category.category_image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            fetchUsers(page_url) {
                let vm = this;
                page_url = page_url || '/api/users'
                fetch(page_url, {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('access_token')
                        }
                    })
                    .then(res => res.json())
                    .then(res => {
                        this.users = res.data;
                        vm.makePagination(res.meta, res.links);
                    })
                    .catch(err => console.log(err));
            },

            makePagination(meta, links) {
                let pagination = {
                    current_page: meta.current_page,
                    last_page: meta.last_page,
                    next_page_url: links.next,
                    pre_page_url: links.prevs
                }
                this.pagination = pagination;
            },

            editHandle(edit_user) {
                this.dialogFormVisible = true;
                this.edit = true;
                this.user.id = edit_user.id;
                this.user.user_id = edit_user.user_id;
                this.user.full_name = edit_user.full_name;
                this.user.email = edit_user.email;
                this.user.phone_no = edit_user.phone_no;
                this.user.user_role = edit_user.role_id;
                this.user.is_active = edit_user.is_active;
            },

            handleDelete(id) {
                this.centerDialogVisible = false;
                fetch(`api/user/${id}`, {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('access_token')
                        },
                        method: 'delete'
                    })
                    .then(res => res.json())
                    .then(data => {
                        if (data.error) {
                            this.$message({
                                showClose: true,
                                message: data.error,
                                type: 'error'
                            })
                        } else {
                            this.fetchUsers();
                            this.$message({
                                showClose: true,
                                message: 'Congrats, Ads is Successfully deleted to ours System',
                                type: 'success'
                            });
                        }
                    })
                    .catch(err => console.log(err));

            },
            clearform() {
                this.user.full_name = '';
                this.user.email = '';
                this.user.phone_no = '';
                this.user.password = '';
                this.user.user_role = '';
                this.edit = false;
            },

            submitForm(formName) {
                this.$refs[formName].validate(valid => {
                    if (valid) {
                        if (this.edit === false) {
                            fetch("api/register", {
                                    method: "POST",
                                    body: JSON.stringify(this.user),
                                    headers: {
                                        "content-type": "application/json",
                                        Authorization: "Bearer " + localStorage.getItem("access_token")
                                    }
                                })
                                .then(res => res.json())
                                .then(data => {
                                    if (data.error) {
                                        this.$message({
                                            showClose: true,
                                            message: data.error,
                                            type: 'error'
                                        })
                                    } else {
                                        this.dialogFormVisible = false;
                                        this.$message({
                                            showClose: true,
                                            message: 'Congrats, Ads is Successfully Added to ours System',
                                            type: 'success'
                                        });

                                    }
                                })
                                .catch(err => console.log('raja'));
                        } else {
                            fetch("api/register", {
                                    method: "put",
                                    body: JSON.stringify(this.user),
                                    headers: {
                                        "content-type": "application/json",
                                        Authorization: "Bearer " + localStorage.getItem("access_token")
                                    }
                                }).then(res => res.json())
                                .then(data => {
                                    if (data.error) {
                                        this.$message({
                                            showClose: true,
                                            message: data.error,
                                            type: 'error'
                                        })
                                    } else {
                                        this.dialogFormVisible = false;
                                        this.fetchUsers();
                                        this.$message({
                                            showClose: true,
                                            message: 'Congrats, Items is Successfully Edit to ours System',
                                            type: 'success'
                                        });
                                    }
                                })
                                .catch(err => console.log(err));
                        }
                    } else {
                        console.log("error submit!!");
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
        }
    };
</script>