<template>
    <el-main>
        <div class="container centered">
            <el-row>
                <el-col :span="24">
                    <div class="grid-content">
                        <el-button type="primary" class="is-right" @click="AddFormclearHandle()" round>Add New</el-button>
                    </div>
                </el-col>
            </el-row>
            <el-dialog title="Add Category" :visible.sync="dialogFormVisible" :before-close="handleClose">
                <el-form :model="videolink" :rules="rules" ref="videolink">
                    <el-form-item label="Video Title " prop="video_title">
                        <el-input v-model="videolink.video_title"></el-input>
                    </el-form-item>
                    <el-form-item label="videolink " prop="videolink">
                        <el-input v-model="videolink.videolink"></el-input>
                    </el-form-item>
                   <el-select v-model="videolink.description" multiple placeholder="Select">
                    <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select>
                    <el-form-item label="Activity type">
                        <el-col :span="6">
                            <el-checkbox-group v-model="videolink.is_active">
                                <el-checkbox label="Is Active" name="type" :value="videolink.is_active" :checked="!!+videolink.is_active">
                                </el-checkbox>
                            </el-checkbox-group>
                        </el-col>
                    </el-form-item>
                </el-form>

                <span slot="footer" class="dialog-footer">
                    <el-button @click="handleCancle()">Cancel</el-button>
                    <el-button type="primary" @click="resetForm('videolink')">Reset</el-button>
                    <el-button type="primary" @click="submitForm('videolink')">Save</el-button>
                </span>
            </el-dialog>

            <el-table :data="videolinks" :default-sort="{prop: 'video_title', order: 'descending'}" style="width: 100%">
                <el-table-column prop="video_title" label="Video Title" sortable width="180">
                </el-table-column>
                <el-table-column prop="videolink" label="Video Link" >
                </el-table-column>
                <el-table-column prop="description" label="Link Description" :formatter="descriptionformatter" >
                </el-table-column>
                
                <el-table-column prop="is_active" label="Is Active">
                </el-table-column>
                <el-table-column label="Operations">
                    <template slot-scope="scope">
                        <el-button size="mini" @click="eidtVideoLink(scope.row)">Edit</el-button>
                        <el-button size="mini" type="danger" @click="Modelhandledelete(scope.row.id)">Delete</el-button>
                        <el-dialog title="Warning" :visible.sync="centerDialogVisible" width="30%" center>
                            <span>It should be noted that the content will be deleted</span>
                            <span slot="footer" class="dialog-footer">
                                <el-button @click="centerDialogVisible = false">Cancel</el-button>
                                <el-button type="primary" @click="handleDelete(deleteid)">Confirm</el-button>
                            </span>
                        </el-dialog>
                    </template>
                </el-table-column>

            </el-table>

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li v-bind:class="[{disabled: !pagination.pre_page_url}]" class="page-item">
                        <a class="page-link" href="#" @click="fetchVideoLink(pagination.pre_page_url)">Previous</a>
                    </li>

                    <li class="page-item disabled">
                        <a class="page-link text-dark" href="#">Page {{ pagination.current_page}} of {{
                            pagination.last_page}}</a>
                    </li>

                    <li v-bind:class="[{disabled: !pagination.next_page_url}]" class="page-item">
                        <a class="page-link" href="#" @click="fetchVideoLink(pagination.next_page_url)">Next</a>
                    </li>
                </ul>
            </nav>

        </div>
    </el-main>
</template>
<style scoped>
    img {
        max-height: 120px;
    }
</style>
<script>
    import {
        Message
    } from 'element-ui';
    export default {

        data() {
            return {
                videolinks: [],
                options: [{
                value: 'Option1',
                label: 'Option1'
                }, {
                value: 'Option2',
                label: 'Option2'
                }, {
                value: 'Option3',
                label: 'Option3'
                }, {
                value: 'Option4',
                label: 'Option4'
                }, {
                value: 'Option5',
                label: 'Option5'
                }],
                videolink: {
                    id: '',
                    videolink: '',
                    video_title:'',
                    description:[],
                    is_active: '',
                    vediolink_id: '',
                },
                formLabelWidth: '120px',
                pagination: {},
                edit: false,
                loading: false,
                centerDialogVisible: false,
                dialogFormVisible: false,
                deleteid: 0,

                rules: {
                    videolink: [{
                        required: true,
                        message: "Please input Videolinks name",
                        trigger: "change"
                    }],
                    video_title: [{
                        required: true,
                        message: "Please input Videolinks name",
                        trigger: "change"
                    }],
                }
            };
        },

        beforeMount() {
            this.loading = this.$loading({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.7)'
            });

            setTimeout(() => {
                this.loading.close();
            }, 500);
            this.fetchVideoLink();
        },
        methods: {
             descriptionformatter(row, column) {
                // return row.description;
                return row.description.join(', ')

            },
            AddFormclearHandle(){
                this.videolink.videolink = '';
                this.videolink.description = '';
                this.videolink.is_active = '';
                this.dialogFormVisible = true;
            },
            handleCancle() {
                this.edit = false;
                this.resetForm('videolink');
                this.dialogFormVisible = false;
            },
            handleClose(done) {
                this.edit = false;
                this.resetForm('videolink');
                done();
            },

            Modelhandledelete(id) {
                this.centerDialogVisible = true;
                this.deleteid = id;

            },

            
            fetchVideoLink(page_url) {
                let vm = this;
                page_url = page_url || '/api/videolinks'
                fetch(page_url, {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('access_token')
                        }
                    })
                    .then(res => res.json())
                    .then(res => {
                        this.videolinks = res.data;
                        vm.makePagination(res.meta, res.links);
                    })
                    .catch(err => console.log(err));
            },

            makePagination(meta, links) {
                let pagination = {
                    current_page: meta.current_page,
                    last_page: meta.last_page,
                    next_page_url: links.next,
                    pre_page_url: links.prevs
                }
                this.pagination = pagination;
            },

            eidtVideoLink(videolink) {
                this.dialogFormVisible = true;
                this.edit = true;
                this.videolink.videolink_id = videolink.id;
                this.videolink.is_active = videolink.is_active;
                this.videolink.videolink = videolink.videolink;
                this.videolink.description = videolink.description;
            },

            handleDelete(id) {
                this.centerDialogVisible = false;
                fetch(`api/category/${id}`, {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('access_token')
                        },
                        method: 'delete'
                    })
                    .then(res => res.json())
                    .then(data => {
                        if (data.error) {
                            this.$message({
                                showClose: true,
                                message: data.error,
                                type: 'error'
                            })
                        } else {
                            this.fetchCategory();
                            this.$message({
                                showClose: true,
                                message: 'Congrats, Ads is Successfully deleted to ours System',
                                type: 'success'
                            });
                        }
                    })
                    .catch(err => console.log(err));

            },

            submitForm(formName) {
                this.$refs[formName].validate(valid => {
                    if (valid) {
                        if (this.edit === false) {
                            fetch("api/videolink", {
                                    method: "POST",
                                    body: JSON.stringify(this.videolink),
                                    headers: {
                                        "content-type": "application/json",
                                        Authorization: "Bearer " + localStorage.getItem("access_token")
                                    }
                                })
                                .then(res => res.json())
                                .then(data => {
                                    if (data.error) {
                                        this.$message({
                                            showClose: true,
                                            message: data.error,
                                            type: 'error'
                                        })
                                    } else {
                                        this.dialogFormVisible = false;
                                        this.fetchVideoLink();
                                        this.$message({
                                            showClose: true,
                                            message: 'Congrats, Ads is Successfully Added to ours System',
                                            type: 'success'
                                        });

                                    }
                                })
                                .catch(err => console.log('raja'));
                        } else {
                            fetch("api/videolink", {
                                    method: "put",
                                    body: JSON.stringify(this.videolink),
                                    headers: {
                                        "content-type": "application/json",
                                        Authorization: "Bearer " + localStorage.getItem("access_token")
                                    }
                                }).then(res => res.json())
                                .then(data => {
                                    if (data.error) {
                                        this.$message({
                                            showClose: true,
                                            message: data.error,
                                            type: 'error'
                                        })
                                    } else {
                                        this.dialogFormVisible = false;
                                        this.fetchVideoLink();
                                        this.$message({
                                            showClose: true,
                                            message: 'Congrats, Items is Successfully Edit to ours System',
                                            type: 'success'
                                        });
                                    }
                                })
                                .catch(err => console.log(err));
                        }
                    } else {
                        console.log("error submit!!");
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
        }
    };
</script>