<template>
    <div class="container centered">
        <h5 class="mb-40">AddEdit OrganizationInfo</h5>
        <el-form :model="organizationinfo" :rules="rules" ref="organizationinfo" label-position="left" label-width="140px"
            class="organizationinfoform">
            <el-row>
                <el-col :span="12" class="col-padd">
                    <el-form-item label="Organization" prop="organization_name">
                        <el-input v-model="organizationinfo.organization_name"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12" class="col-padd">
                    <el-form-item label="Category" prop="category_id">
                        <el-select v-model="organizationinfo.category_id" placeholder="Select Category">
                            <el-option v-for="category in categorylist" :key="category.id" :label="category.category_name"
                                :value="category.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="12" class="col-padd">
                    <el-form-item label="Phone No." prop="phone_no">
                        <el-input v-model="organizationinfo.phone_no"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12" class="col-padd">
                    <el-form-item label="Organization Email" prop="organization_email">
                        <el-input v-model="organizationinfo.organization_email"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>

            <el-row>
                <el-col :span="12" class="col-padd">
                    <el-form-item label="Openning Days" prop="openning_day">
                        <el-select v-model="organizationinfo.openning_day" multiple placeholder="Select">
                          <el-option
                          v-for="item in options"
                          :key="item.value"
                          :label="item.label"
                          :value="item.value">
                          </el-option>
                      </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="12" class="col-padd">
                     <el-form-item label="Openning Time" prop="openning_time">
                        <el-input v-model="organizationinfo.openning_time"></el-input>
                    </el-form-item>
                    
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="8" class="col-padd">
                    <el-form-item label="State" prop="addstate_id">
                        <el-select @change="GetDistrictByStateId" v-model="organizationinfo.addstate_id" placeholder="Select State">
                            <el-option v-for="addstate in addstatelist" :key="addstate.id" :label="addstate.state_name"
                                :value="addstate.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="8" class="col-padd">
                    <el-form-item label="District" prop="district_id">
                        <el-select @change="GetMunicipalityByDistrictId" v-model="organizationinfo.district_id"
                            placeholder="Select District">
                            <el-option v-for="district in districtlist" :key="district.id" :label="district.district_name"
                                :value="district.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="8" class="col-padd">
                    <el-form-item label="VDC/Municipality" prop="municipality_id">
                        <el-select v-model="organizationinfo.municipality_id" placeholder="Select District">
                            <el-option v-for="municipality in municipalitylist" :key="municipality.id" :label="municipality.vdv_municipality_name"
                                :value="municipality.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="8" class="col-padd">
                    <el-form-item label="Street Address" prop="street_address">
                        <el-input v-model="organizationinfo.street_address"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="8" class="col-padd">
                    <el-form-item label="Lattitude">
                        <el-input v-model="organizationinfo.lattitude"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="8" class="col-padd">
                    <el-form-item label="Longitude">
                        <el-input v-model="organizationinfo.longitude"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-form-item label="Services" prop="services">
                <vue-ckeditor v-model="organizationinfo.services" :config="config" @blur="onBlur($event)" @focus="onFocus($event)" />
            </el-form-item>
            <el-form-item label="About Organization" prop="about_organization">
                <vue-ckeditor v-model="organizationinfo.about_organization" :config="config" @blur="onBlur($event)"
                    @focus="onFocus($event)" />
            </el-form-item>
            <el-form-item label="Feature of Organization" prop="feature">
                <vue-ckeditor v-model="organizationinfo.feature" :config="config" @blur="onBlur($event)" @focus="onFocus($event)" />
            </el-form-item>
            <el-row>
                <el-col :span="12" class="col-padd">
                    <el-form-item label="Web site">
                        <el-input v-model="organizationinfo.website"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12" class="col-padd">
                    <el-form-item label="Links">
                        <el-input v-model="organizationinfo.related_links"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="12" class="col-padd">
                    <el-form-item label="Profile Image" required prop="profile_image">
                        <el-form-item prop="profile_image">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Upload</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" v-on:change="onProfileImageChange" class="custom-file-input" id="inputGroupFile01">
                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                </div>
                            </div>
                        </el-form-item>
                        <small id="fileHelp" class="form-text text-muted">Upload High Quality Images </small>
                        <img :src="organizationinfo.profile_image" class="img-responsive">
                    </el-form-item>
                </el-col>
                <el-col :span="12" class="col-padd">
                    <el-form-item label="Profile Image" required prop="banner_image">
                        <el-form-item prop="profile_image">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Upload</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" v-on:change="onBannerImageChange" class="custom-file-input" id="inputGroupFile01">
                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                </div>
                            </div>
                        </el-form-item>
                        <small id="fileHelp" class="form-text text-muted">Upload High Quality Images </small>
                        <img :src="organizationinfo.banner_image" class="img-responsive">
                    </el-form-item>
                </el-col>
            </el-row>
            <el-form-item label="Activity type">
                 <div class="col-sm-input">
                    <el-checkbox-group v-model="organizationinfo.is_verified">
                        <el-checkbox label="Is Verified" name="type" :value="organizationinfo.is_verified" :checked="!!+organizationinfo.is_verified">
                        </el-checkbox>
                    </el-checkbox-group>
                </div>
                <div class="col-sm-input">
                    <el-checkbox-group v-model="organizationinfo.is_active">
                        <el-checkbox label="Is Active" name="type" :value="organizationinfo.is_active" :checked="!!+organizationinfo.is_active">
                        </el-checkbox>
                    </el-checkbox-group>
                </div>
                <div class="col-sm-input">
                    <el-checkbox-group v-model="organizationinfo.is_feature">
                        <el-checkbox label="Is Feature" name="type" :value="organizationinfo.is_feature" :checked="!!+organizationinfo.is_feature">
                        </el-checkbox>
                    </el-checkbox-group>
                </div>
            </el-form-item>
 <el-form-item>
                <el-button type="info" round @click="resetForm('organizationinfo')">Value Reset</el-button>
                <router-link :to="{ name: 'OrganizationInfoManage' }">
                    <el-button type="primary" round>Back</el-button>
                </router-link>
                <el-button type="primary" round @click="submitForm('organizationinfo')">Save</el-button>
            </el-form-item>


        </el-form>

       
    </div>
</template>
<style scoped>
img {
  max-height: 150px;
}
</style>
<script>
import VueCkeditor from "vue-ckeditor2";

export default {
  props: ["organizationinfoid", "editation"],
  components: {
    VueCkeditor
  },

  data() {
    return {
      content: "",
      config: {
        height: 200
      },
      organizationinfolist: [],
      categorylist: [],
      addstatelist: [],
      districtlist: [],
      municipalitylist: [],

      options: [{
                value: 'SUN',
                label: 'SUN'
                }, {
                value: 'MON',
                label: 'MON'
                }, {
                value: 'TUES',
                label: 'TUES'
                }, {
                value: 'WED',
                label: 'WED'
                }, {
                value: 'THUS',
                label: 'THUS'
                }, {
                value: 'FRI',
                label: 'FRI'
                }, {
                value: 'SAT',
                label: 'SAT'
                }
                ],

      organizationinfo: {
        id: "",
        category_id: "",
        category_name: "",
        organization_name: "",
        phone_no: "",
        organization_email: "",
        openning_day:[],
        openning_time: "",
        addstate_id: "",
        state_name: "",
        district_id: "",
        discrict_name: "",
        municipality_id: "",
        vdv_municipality_name: "",
        street_address: "",
        lattitude: "",
        longitude: "",
        services: "",
        about_organization: "",
        feature: "",
        website: "",
        related_links: "",
        profile_image: "",
        banner_image: "",
        is_verified: "",
        is_active: "",
        is_feature: "",
        profile_image: "",
        banner_image: "",
        organizationinfo_id: "",
        street_address_id: ""
      },
      organizationinfo_id: "",
      pagination: {},
      edit: false,
      rules: {
        feature: [
          {
            required: true,
            message: "Please input Article name",
            trigger: "change"
          }
        ],
        about_organization: [
          {
            required: true,
            message: "Please input Article name",
            trigger: "change"
          }
        ],
        services: [
          {
            required: true,
            message: "Please input Article name",
            trigger: "change"
          }
        ],
        street_address: [
          {
            required: true,
            message: "Please input Article name",
            trigger: "change"
          }
        ],
        municipality_id: [
          {
            required: true,
            message: "Please input Article name",
            trigger: "change"
          }
        ],
        district_id: [
          {
            required: true,
            message: "Please input Article name",
            trigger: "change"
          }
        ],
        addstate_id: [
          {
            required: true,
            message: "Please input Article name",
            trigger: "change"
          }
        ],
        organization_name: [
          {
            required: true,
            message: "Please input Article name",
            trigger: "change"
          }
        ],
        category_id: [
          {
            required: true,
            message: "Please input Article name",
            trigger: "change"
          }
        ],
        phone_no: [
          {
            required: true,
            message: "Please input Article name",
            trigger: "change"
          }
        ],
        organization_email: [
          {
            required: true,
            message: "Please input Article name",
            trigger: "change"
          }
        ]
      }
    };
  },
  beforeMount() {
    if (this.editation != true) {
      this.fetchState();
      this.fetchCagegory();
    } else {
      this.fetchState();
      this.fetchCagegory();
      var organizationinfo = this.organizationinfoid;
      this.EditOrganizationInfo(organizationinfo);
    }
  },

  methods: {
    GetDistrictByStateId(selected) {
      fetch(`api/getdistrictbystateid/${selected}`, {
        headers: {
          Authorization: "Bearer " + localStorage.getItem("access_token")
        }
      })
        .then(res => res.json())
        .then(res => {
          this.districtlist = res.data;
          (this.organizationinfo.district_id = null),
            (this.organizationinfo.municipality_id = null);
        });
    },

    GetMunicipalityByDistrictId(selected) {
      fetch(`api/getmunicipalitybydistrictid/${selected}`, {
        headers: {
          Authorization: "Bearer " + localStorage.getItem("access_token")
        }
      })
        .then(res => res.json())
        .then(res => {
          this.municipalitylist = res.data;
        });
    },
    onProfileImageChange(e) {
      let files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.createProfileImage(files[0]);
    },

    createProfileImage(file) {
      let reader = new FileReader();
      let vm = this;
      reader.onload = e => {
        this.organizationinfo.profile_image = e.target.result;
      };
      reader.readAsDataURL(file);
    },

    onBannerImageChange(e) {
      let files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.createBannerImage(files[0]);
    },

    createBannerImage(file) {
      let reader = new FileReader();
      let vm = this;
      reader.onload = e => {
        this.organizationinfo.banner_image = e.target.result;
      };
      reader.readAsDataURL(file);
    },

    fetchCagegory() {
      fetch("api/categories", {
        headers: {
          Authorization: "Bearer " + localStorage.getItem("access_token")
        }
      })
        .then(res => res.json())
        .then(res => {
          this.categorylist = res.data;
        });
    },

    fetchState() {
      fetch("api/address_state", {
        headers: {
          Authorization: "Bearer " + localStorage.getItem("access_token")
        }
      })
        .then(res => res.json())
        .then(res => {
          this.addstatelist = res.data;
        });
    },

    onBlur(editor) {},

    onFocus(editor) {},
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (this.edit === false) {
            fetch("api/neworganizationinfo", {
              method: "POST",
              body: JSON.stringify(this.organizationinfo),
              headers: {
                "content-type": "application/json",
                Authorization: "Bearer " + localStorage.getItem("access_token")
              }
            })
              .then(res => res.json())
              .then(data => {
                debugger;
                if (data.error) {
                  this.$message({
                    showClose: true,
                    message: data.error,
                    type: "error"
                  });
                } else {
                  this.$router.push("/organizationinfolisting", () => {
                    this.$message({
                      showClose: true,
                      message:
                        "Congrats, Ads is Successfully Added to ours System",
                      type: "success"
                    });
                  });
                }
              })
              .catch(err => console.log(err));
          } else {
            fetch("api/editorganizationinfo", {
              method: "put",
              body: JSON.stringify(this.organizationinfo),
              headers: {
                "content-type": "application/json",
                Authorization: "Bearer " + localStorage.getItem("access_token")
              }
            })
              .then(res => res.json())
              .then(data => {
                debugger;
                if (data.error) {
                  this.$message({
                    showClose: true,
                    message: data.error,
                    type: "error"
                  });
                } else {
                  this.$router.push("/organizationinfolisting", () => {
                    this.$message({
                      showClose: true,
                      message:
                        "Congrats, Items is Successfully Edit to ours System",
                      type: "success"
                    });
                  });
                }
              })
              .catch(err => console.log(err));
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },

    EditGetDistrictByStateId(value) {
      var s_id = value;
      fetch(`api/getdistrictbystateid/${s_id}`, {
        headers: {
          Authorization: "Bearer " + localStorage.getItem("access_token")
        }
      })
        .then(res => res.json())
        .then(res => {
          this.districtlist = res.data;
        });
      return;
    },

    EditGetMunicipalityByDistrictId(value) {
      var d_id = value;
      fetch(`api/getmunicipalitybydistrictid/${d_id}`, {
        headers: {
          Authorization: "Bearer " + localStorage.getItem("access_token")
        }
      })
        .then(res => res.json())
        .then(res => {
          this.municipalitylist = res.data;
        });
    },

    EditOrganizationInfo(organizationinfo) {
      this.edit = true;
      debugger;
      this.organizationinfo.id = organizationinfo.organization_id;
      this.organizationinfo.organization_id = organizationinfo.organization_id;
      this.organizationinfo.category_id = organizationinfo.category_id;
      this.organizationinfo.addstate_id = organizationinfo.addstate_id;

      this.EditGetDistrictByStateId(organizationinfo.addstate_id);
      this.organizationinfo.district_id = organizationinfo.district_id;

      this.EditGetMunicipalityByDistrictId(organizationinfo.district_id);
      this.organizationinfo.municipality_id = organizationinfo.municipality_id;
      this.organizationinfo.organization_name =
        organizationinfo.organization_name;
      this.organizationinfo.phone_no = organizationinfo.phone_no;
      this.organizationinfo.organization_email =
        organizationinfo.organization_email;
      this.organizationinfo.openning_day = organizationinfo.openning_day;
      this.organizationinfo.openning_time = organizationinfo.openning_time;
      this.organizationinfo.street_address = organizationinfo.street_address;
      this.organizationinfo.street_address_id =
        organizationinfo.street_address_id;
      this.organizationinfo.lattitude = organizationinfo.lattitude;
      this.organizationinfo.longitude = organizationinfo.longitude;
      this.organizationinfo.services = organizationinfo.services;
      this.organizationinfo.about_organization =
        organizationinfo.about_organization;
      this.organizationinfo.feature = organizationinfo.feature;
      this.organizationinfo.website = organizationinfo.website;
      this.organizationinfo.related_links = organizationinfo.related_links;
      this.organizationinfo.profile_image = organizationinfo.profile_image;
      this.organizationinfo.banner_image = organizationinfo.banner_image;
      this.organizationinfo.is_verified = organizationinfo.is_verified;
      this.organizationinfo.is_active = organizationinfo.is_active;
      this.organizationinfo.is_feature = organizationinfo.is_feature;
    }
  }
};
</script>