<template>
  <el-main>
    <el-row>
      <el-col :span="24">
        <div class="grid-content">
          <el-input class="search-input" v-model="searchtxt" round></el-input>
          <el-button type="primary" icon="el-icon-search" @click="handleSearchTxt(searchtxt)">Search</el-button>
          <el-button type="primary" icon="el-icon-search" @click="fetchOrganizationInfo()">Reset</el-button>
          <router-link :to="{ name: 'addedit_organizationinfo' }">
            <el-button type="primary" class="is-right" round>Add New</el-button>
          </router-link>
        </div>
      </el-col>
    </el-row>

    <el-table :data="organizationinfolist" :default-sort="{prop: 'title', order: 'descending'}" style="width: 100%">
      <el-table-column prop="category_name" label="Category Title" sortable width="180">
      </el-table-column>
      <el-table-column prop="organization_name" label="Organization Name">
      </el-table-column>
      <el-table-column prop="phone_no" label=" Phone No.">
      </el-table-column>
      <el-table-column prop="organization_email" label="Email">
      </el-table-column>
      <el-table-column prop="is_active" label="Is Active">
      </el-table-column>
      <el-table-column prop="is_feature" label="Is Feature">
      </el-table-column>
      <el-table-column label="Operations">
        <template slot-scope="scope">
          <router-link :to="{ name: 'addedit_organizationinfo', params:{organizationinfoid:scope.row ,editation:true} }">
            <el-button size="mini">Edit</el-button>
          </router-link>
          <el-button size="mini" type="danger" @click="Modelhandledelete(scope.row.organization_id)">Delete</el-button>
          <el-dialog title="Warning" :visible.sync="centerDialogVisible" width="30%" center>
            <span>It should be noted that the content will be deleted</span>
            <span slot="footer" class="dialog-footer">
              <el-button @click="centerDialogVisible = false">Cancel</el-button>
              <el-button type="primary" @click="handleDelete(deleteid)">Confirm</el-button>
            </span>
          </el-dialog>
        </template>
      </el-table-column>
    </el-table>

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li v-bind:class="[{disabled: !pagination.pre_page_url}]" class="page-item">
          <a class="page-link" href="#" @click="fetchOrganizationInfo(pagination.pre_page_url)">Previous</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link text-dark" href="#">Page {{ pagination.current_page}} of {{
            pagination.last_page}}</a>
        </li>
        <li v-bind:class="[{disabled: !pagination.next_page_url}]" class="page-item">
          <a class="page-link" href="#" @click="fetchOrganizationInfo(pagination.next_page_url)">Next</a>
        </li>
      </ul>
    </nav>

  </el-main>
</template>
<script>
  import GoogleMap from '../GoogleMap'

  export default {
    components: {
      GoogleMap
    },
    data() {
      return {
        organizationinfolist: [],
        organization_id: '',
        pagination: {},
        edit: false,
        centerDialogVisible: false,
        searchtxt:null,
        deleteid:0,


      }
    },
    created() {
      this.fetchOrganizationInfo();

    },

    methods: {

      Modelhandledelete(id){
                this.centerDialogVisible= true;
                this.deleteid = id;
            },

      handleSearchTxt(searchtxt){
                if(!searchtxt == ''){
                    let vm = this;
                fetch(`api/organizationinfosearchcontain/${searchtxt}`, {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('access_token')
                        }
                    })
                    .then(res => res.json())
                    .then(res => {
                        this.organizationinfolist = res.data;
                        vm.makePagination(res.meta, res.links);
                    })
                    .catch(err => console.log(err));
                }
                else{
                    this.fetchOrganizationInfo();
                }
                
            },

      fetchOrganizationInfo(page_url) {
        this.searchtxt=null;
        let vm = this;
        page_url = page_url || 'api/orgonizationlist'
        fetch(page_url, {
            headers: {
              Authorization: 'Bearer ' + localStorage.getItem('access_token')
            }
          })
          .then(res => res.json())
          .then(res => {
            this.organizationinfolist = res.data;
            vm.makePagination(res.meta, res.links);
          })
          .catch(err => console.log(err));
      },

      makePagination(meta, links) {
        let pagination = {
          current_page: meta.current_page,
          last_page: meta.last_page,
          next_page_url: links.next,
          pre_page_url: links.prev
        }
        this.pagination = pagination;
      },

     

       handleDelete(row) {
                this.centerDialogVisible = false;
                debugger;
                fetch(`api/organizationinfo/${row}`, {
                        method: 'delete',
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('access_token')
                        }
                    }).then(res => res.json())
                    .then(data => {
                        if (data.error) {
                            this.$message({
                                showClose: true,
                                message: data.error,
                                type: 'error'
                            })
                        } else {
                            this.fetchOrganizationInfo();
                            this.$message({
                                showClose: true,
                                message: 'Congrats, Organization is Successfully deleted to ours System',
                                type: 'success'
                            });
                        }
                    })
                    .catch(err => console.log(err));

            }

    }
  }
</script>