<template>
  <el-container>
    <el-aside width="250px" style="background-color:#545c64; box-shadow: inset -1px 0 1px #e6e6e6;"><sidebar></sidebar></el-aside>
    <el-container>
      <el-header style="height: 56px; padding: 0px;position: fixed;
    width: 100%;
    left: 0;
    right: 0;z-index: 9;">
        <navbar></navbar>
      </el-header>
      <el-main>
        <router-view></router-view>
      </el-main>
    </el-container>
  </el-container>
</template>
<script>
  export default {
    name: "Ckeditor",
    data() {
      return {
        content: "",
        config: {
          height: 300
        },
      }
    }
  }
</script>