<template>
	<div class="login-wrapper">
		<div class="login-box">
			<div class="login-title" style="background-image: url(images/static/bg-01.jpg);">
				<h1>Sign In</h1>
			</div>
			<ui-alert @dismiss="message=false" type="error" v-show="message">
                D'oh! Something went wrong and we cannot process your request at this time. Try again later.
            </ui-alert>
			<form class="login-form" @submit.prevent="SystemLogin">
				<ui-textbox error="Invalid UserID" :invalid="EmailValidate" floating-label icon="person" label="Username" placeholder="Enter Username"
				    type="text" v-model="credential.user_name"></ui-textbox>
				<ui-textbox floating-label icon="lock" label="Password" placeholder="Enter Password" type="password" v-model="credential.password"></ui-textbox>
				<div class="mb-3">
					<ui-checkbox v-model="rememberMe" class="mb-0">Remember me</ui-checkbox>
				</div>
				<div class="mb-3">
					<router-link :to="{ name: 'forgotpassword' }">Forgot Password?</router-link>
				</div>
				<ui-button color="primary">Login</ui-button>
			</form>
		</div>
	</div>
</template>
<script>
	import store from '../store'
	export default {
		data() {
			return {
				credential: {
					user_name: '',
					password: ''
				},
				rememberMe: false,
				EmailValidate: false,
				message:false,
			}
		},
		methods: {
			SystemLogin(e) {
				if (this.validEmail(this.credential.user_name)) {

					fetch('/api/user/login', {
							method: 'POST',
							body: JSON.stringify({
								"email": this.credential.user_name,
								"password": this.credential.password
							}),
							headers: {
								Accept: 'application/json',
								'Content-Type': 'application/json'
							}
						}).then((response) => response.json())
						.then((responseJson) => {
							if (typeof responseJson.token == "string") {
								store.commit('loginUser')
								localStorage.setItem('access_token', responseJson.token)
								sessionStorage.setItem("access_token", responseJson.token);
								// window.location='/Home';
								this.$router.push({
									name: 'LandingPage'
								})

							} else {
								this.message = true;
							}

						})
						.catch((error) => {
							console.error(error);
						});

				} else {
					this.EmailValidate = true;

				}
				e.preventDefault();
			},

			validEmail: function (email) {
				var re =
					/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
				return re.test(email);
			}

		}
	}
</script>