<template>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#">DATAINFORMATION</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nb-navbar" aria-controls="nb-navbar" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="nb-navbar">
        <ul class="navbar-nav ml-auto">
          <li>
            <el-dropdown>
  <span class="el-dropdown-link">
    <img class="avatar-header" src="images/default.jpg" />
    <i class="el-icon-setting"></i>
  </span>
  <el-dropdown-menu slot="dropdown">
    <el-dropdown-item><router-link :to="{ name: 'profileupdate' }">Profile Update</router-link></el-dropdown-item>
    <el-dropdown-item><router-link :to="{ name: 'resetpassword' }">Password Reset</router-link></el-dropdown-item>
    <el-dropdown-item><router-link :to="{ name: 'logout' }">Logout</router-link></el-dropdown-item>
  </el-dropdown-menu>
</el-dropdown>
          </li>
        </ul>
      </div>
    </nav>
</template>