<template>
  <div class="sidebar">
      <el-menu
        default-active="2"
        class="side-menu"
        background-color="#545c64"
        text-color="#fff"
        active-text-color="#ffd04b">
        <!-- <el-submenu index="1" style="border-right: none;">
          <template slot="title">
            <i class="el-icon-location"></i>
            <span>Navigator One</span>
          </template>
          <el-menu-item-group title="Group One">
            <el-menu-item index="1-1">
              <router-link class="nav-link" :to="{ name: 'OrganizationInfoManage' }">OrganizationInfo</router-link>
            </el-menu-item>
            <el-menu-item index="1-2">
              <router-link class="nav-link" :to="{ name: 'AdsManage' }">Ads</router-link>
            </el-menu-item>
            <el-menu-item index="1-3">
              <router-link class="nav-link" :to="{ name: 'RashifalManage' }">Rashifal</router-link>
            </el-menu-item>
            <el-menu-item index="1-4">
              <router-link class="nav-link" :to="{ name: 'ArticlesManage' }">Articles</router-link>
            </el-menu-item>
          </el-menu-item-group>
          <el-menu-item-group title="Group Two">
            <el-menu-item index="1-3">item three</el-menu-item>
          </el-menu-item-group>
          <el-submenu index="1-4">
            <template slot="title">item four</template>
            <el-menu-item index="1-4-1">item one</el-menu-item>
          </el-submenu>
        </el-submenu> -->
        <el-menu-item index="2">
          <router-link class="nav-link" :to="{ name: 'LandingPage' }">
          <i class="el-icon-menu"></i>
          <span>Dashboard</span>
          </router-link>
        </el-menu-item>
        <el-menu-item index="9">
          <router-link class="nav-link" :to="{ name: 'OrganizationInfoManage' }">
          <i class="el-icon-menu"></i>
          <span>OrganizationInfo</span>
          </router-link>
        </el-menu-item>
        <el-menu-item index="2">
          <router-link class="nav-link" :to="{ name: 'VideoLinkManage' }">
          <i class="el-icon-menu"></i>
          <span>LinkManage</span>
          </router-link>
        </el-menu-item>
        <el-menu-item index="2">
          <router-link class="nav-link" :to="{ name: 'AdsManage' }">
          <i class="el-icon-menu"></i>
          <span>Ads Manage</span>
          </router-link>
        </el-menu-item>
        <el-menu-item index="3" >
          <router-link class="nav-link" :to="{ name: 'ArticlesManage' }">
          <i class="el-icon-menu"></i>
          <span>ArticlesManage</span>
          </router-link>
        </el-menu-item>
        <el-menu-item index="4">
          <router-link class="nav-link" :to="{ name: 'RashifalManage' }">
          <i class="el-icon-menu"></i>
          <span>RashifalManage</span>
          </router-link>
        </el-menu-item>
        <el-menu-item index="5">
          <router-link class="nav-link" :to="{ name: 'UserManage' }">
          <i class="el-icon-menu"></i>
          <span>UserManage</span>
          </router-link>
        </el-menu-item>
        <el-menu-item index="6">
          <router-link class="nav-link" :to="{ name: 'category' }">
          <i class="el-icon-menu"></i>
          <span>Category Manage</span>
          </router-link>
        </el-menu-item>

        <el-menu-item index="7">
          <router-link class="nav-link" :to="{ name: 'RoleManage' }">
          <i class="el-icon-menu"></i>
          <span>Role Manage</span>
          </router-link>
        </el-menu-item>
        <el-menu-item index="8">
          <router-link class="nav-link" :to="{ name: 'NewsManage' }">
          <i class="el-icon-menu"></i>
          <span>News</span>
          </router-link>
        </el-menu-item>
        
      </el-menu>
      <ul class="aside-menu">
        <!-- <li class="nav-item">
            <router-link class="nav-link" :to="{ name: 'LandingPage' }">Dashboard</router-link>
          
           <li class="nav-item">
            <router-link class="nav-link" :to="{ name: 'NewsManage' }">News</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" :to="{ name: 'RoleManage' }">Role_Manage</router-link>
          
          <li class="nav-item">
            <router-link class="nav-link" :to="{ name: 'resetpassword' }">Password Reset</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" :to="{ name: 'profileupdate' }">Profile Update</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" :to="{ name: 'logout' }">Logout</router-link>
          </li> -->
      </ul>
  </div>
</template>
<script>
export default {};
</script>
