<template>
<div>
  <navbar></navbar>

  <div>
    <div class="container">
    User details <br>
    <div class="form-group">
        <router-link :to="{ name: 'addedit_user_register' }">
             <button class="btn-right btn btn-primary">Add User</button>
        </router-link>
    </div>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li  class="page-item">
          <a class="page-link" href="#" >Previous</a>
        </li>

        <li class="page-item disabled">
          <a class="page-link text-dark" href="#">Page1</a>
        </li>

        <li class="page-item">
          <a class="page-link" href="#" >Next</a>
        </li>
      </ul>
    </nav>
    
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Full Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone no</th>
          <th scope="col">Role</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="user in users" v-bind:key="user.id">
          <td scope="row">{{user.id}}</td>
          <td>{{user.full_name}}</td>
          <td>{{user.email}}</td>
          <td>9849018185</td>
          <td>admin</td>
          <td>
            <button  class="btn btn-danger">Delete</button>
            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        users: [],
        user: {
          id: '',
          full_name: '',
          email:'',
          phone_no:'',
          User_role:''
        },
        user_id: '',
        pagination: {},
        edit: false,

      }
    },
    created() {
      this.fetchUsers();

    },

    methods: {
      fetchUsers(page_url) {
        let vm = this;
        page_url = page_url || 'api/users'
        fetch(page_url,{
          headers: {
                    Authorization: 'Bearer ' + localStorage.getItem('access_token')
                }
        })
          .then(res => res.json())
          .then(res => {
            this.users = res.data;
            debugger;
          })
          .catch(err => console.log(err));
      },

      // makePagination(meta, links) {
      //   let pagination = {
      //     current_page: meta.current_page,
      //     last_page: meta.last_page,
      //     next_page_url: links.next,
      //     pre_page_url: links.prev
      //   }
      //   this.pagination = pagination;
      // },
    //   deleteQuestion(id) {
    //     if (confirm('Are you Sure ?')) {
    //       fetch(`api/question/${id}`, {
    //           method: 'delete',
    //           Authorization: 'Bearer ' + localStorage.getItem('access_token')
    //         }).then(res => res.json())
    //         .then(data => {
    //           this.fetchQuestions();
    //         })
    //         .catch(err => console.log(err));
    //     }
    //   },
    }
  }
</script>