<template>
    <el-main>
        <el-row>
            <el-col :span="24">
                <div class="grid-content">
                    <el-input class="search-input" round></el-input>
                    <el-button type="primary" icon="el-icon-search">Search</el-button>
                    <router-link :to="{ name: 'validationtest' }">
                        <el-button type="primary" round>Add New</el-button>
                    </router-link>

                </div>
            </el-col>
        </el-row>
        <el-table :data="adslist" :default-sort="{prop: 'ads_name', order: 'descending'}" style="width: 100%">
            <el-table-column prop="ads_name" label="Ads Title" sortable width="180">
            </el-table-column>
            <el-table-column prop="description" label="Description" :formatter="descriptionformatter">
            </el-table-column>
            <el-table-column prop="published_from" label="Published From">
            </el-table-column>
            <el-table-column prop="published_to" label="Published To">
            </el-table-column>

            <el-table-column label="Ads Image" prop="ads_image">
                <template slot-scope="scope">
                    <img :src="scope.row.ads_image" alt="" width="50" height="50">
                </template>
            </el-table-column>
            <el-table-column prop="is_feature" label="Is Feature">
            </el-table-column>
            <el-table-column label="Operations">
                <template slot-scope="scope">
                    <router-link :to="{ name: 'validationtest', params:{adsid:scope.row ,editation:true} }">
                        <el-button size="mini">Edit</el-button>
                    </router-link>

                    <el-button size="mini" type="danger" @click="handleDelete(scope.row.id)">Delete</el-button>
                </template>
            </el-table-column>

        </el-table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li v-bind:class="[{disabled: !pagination.pre_page_url}]" class="page-item">
                    <a class="page-link" href="#" @click="fetchAdsList(pagination.pre_page_url)">Previous</a>
                </li>

                <li class="page-item disabled">
                    <a class="page-link text-dark" href="#">Page {{ pagination.current_page}} of {{
                        pagination.last_page}}</a>
                </li>

                <li v-bind:class="[{disabled: !pagination.next_page_url}]" class="page-item">
                    <a class="page-link" href="#" @click="fetchAdsList(pagination.next_page_url)">Next</a>
                </li>
            </ul>
        </nav>
    </el-main>


</template>
<style scoped>
    img {
        max-height: 50px;
    }
</style>
<script>
    export default {
        data() {
            return {
                adslist: [],
                pagination: {},
                edit: false,
            }
        },
        created() {
            this.fetchAdsList();

        },
        methods: {


            descriptionformatter(row, column) {
                var div = document.createElement("div");
                div.innerHTML = row.description;
                var text = div.textContent || div.innerText || "";
                if (text.length > 40) {
                    return text.substring(0, 40) + "...";
                } else {
                    return text;
                }

            },
            fetchAdsList(page_url) {
                let vm = this;
                page_url = page_url || 'api/adslist'
                fetch(page_url, {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('access_token')
                        }
                    })
                    .then(res => res.json())
                    .then(res => {
                        this.adslist = res.data;
                        vm.makePagination(res.meta, res.links);
                    })
                    .catch(err => console.log(err));
            },

            makePagination(meta, links) {
                let pagination = {
                    current_page: meta.current_page,
                    last_page: meta.last_page,
                    next_page_url: links.next,
                    pre_page_url: links.prev
                }
                this.pagination = pagination;
            },
            handleDelete(row) {
                if (confirm('Are you Sure ?')) {
                    fetch(`api/ads/${row}`, {
                            method: 'delete',
                            headers: {
                                Authorization: 'Bearer ' + localStorage.getItem('access_token')
                            }
                        }).then(res => res.json())
                        .then(data => {
                            this.fetchAdsList();
                        })
                        .catch(err => console.log(err));
                }
            }
        }
    }
</script>