<template>
<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(login/images/bg-01.jpg);">
					<span class="login100-form-title-1">
						Forgot Password
					</span>
				</div>

				<form class="login100-form validate-form" @submit.prevent="Forgotpassword">
					<div class="wrap-input100 validate-input m-b-26" data-validate="email is required">
						<span class="label-input100">Email</span>
						<input class="input100" type="text" placeholder="Enter username" v-model="credential.user_email">
						<span class="focus-input100"></span>
					</div>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Send Emails
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>
<script>
  export default {
      data() {
      return {
        credential: {
          user_email: '',
        },
      }
    },
    methods: {
        Forgotpassword(){
          fetch('api/password/email ', {
              method: 'POST',
              body: JSON.stringify({
                        "email": this.credential.user_email,
                   }),
              headers: {
                 Accept: 'application/json',
                        'Content-Type': 'application/json'
              }
            }).then((response) => response.json())
                   .then((responseJson) => {
													  this.$router.push({ name: 'login' })
       })
                .catch((error) => {
                        console.error(error);
                    });
        }
				
    }
  }
</script>