<template>
<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(login/images/bg-01.jpg);">
					<span class="login100-form-title-1">
						Reset Password 
					</span>
				</div>

				<form class="login100-form validate-form" @submit.prevent="ResetPassword">
					 <div class="wrap-input100 validate-input m-b-26" data-validate="New Password is required">
						<span class="label-input100">New Password</span>
						<input class="input100" type="password" placeholder="Enter New Password" v-model="credential.new_password">
						<span class="focus-input100"></span>
					</div>
                    <div class="wrap-input100 validate-input m-b-26" data-validate="New Password is required">
						<span class="label-input100">Re-Password</span>
						<input class="input100" type="password" placeholder="Enter username" v-model="credential.re_password">
						<span class="focus-input100"></span>
					</div>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Change Password
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>
<script>
  export default {
    props: ['token'],
      data() {
      return {
        credential: {
          user_email: '',
          new_password:'',
          re_password:''
        },
      }
    },
  mounted() {
              axios.get('/passwordReset', {
              })
              .then(response => {
                  debugger;
              }).catch(error => {

              })
          },

    methods: {
        ResetPassword(){
          fetch('api/password/reset', {
              method: 'POST',
              body: JSON.stringify({
                        "email": this.credential.user_email,
                        "password": this.credential.new_password,
                   }),
              headers: {
                 Accept: 'application/json',
                        'Content-Type': 'application/json',
                        Authorization: 'Bearer ' + localStorage.getItem('access_token')
              }
            }).then((response) => response.json())
                   .then((responseJson) => {
					this.$router.push({ name: 'login' })
       })
                .catch((error) => {
                        console.error(error);
                    });
        }
				
    }
  }
</script>