<template>
    <div class="container centered">
        <h5 class="mb-40">News Manages</h5>
        <el-form :model="news" :rules="rules" ref="news" label-position="left" label-width="140px" class="newsform">
            <el-form-item label="News Title" prop="title">
                <el-input v-model="news.title"></el-input>
            </el-form-item>
            <el-form-item label="Description">
                <!-- <el-input type="textarea" v-model="ads.description" style="width: 50%; hight:200px"></el-input> -->
                <vue-ckeditor v-model="news.description" :config="config" @blur="onBlur($event)" @focus="onFocus($event)" />
            </el-form-item>
            <el-row>
                <el-col :span="12">
                    <el-form-item label="Publish From" required>
                        <el-form-item prop="published_date">
                            <el-date-picker v-model="news.published_date" class="publish_from" type="date" placeholder="Pick a Date"
                                format="yyyy/MM/dd" value-format="yyyy-MM-dd">
                            </el-date-picker>
                        </el-form-item>
                    </el-form-item>
                </el-col>
                
            </el-row>


            <el-form-item label="Activity type">
                <div class="col-sm-input">
                    <el-checkbox-group v-model="news.is_active">
                        <el-checkbox label="Is Active" name="type" :value="news.is_active" :checked="!!+news.is_active">
                        </el-checkbox>
                    </el-checkbox-group>
                </div>
                <div class="col-sm-input">
                    <el-checkbox-group v-model="news.is_feature">
                        <el-checkbox label="Is Feature" name="type" :value="news.is_feature" :checked="!!+news.is_feature">
                        </el-checkbox>
                    </el-checkbox-group>
                </div>
            </el-form-item>
            <el-form-item label="news Image">
                <el-form-item  class="col-upload">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Upload</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" v-on:change="onFileChange" class="custom-file-input" id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                    </div>
                </el-form-item>
                <small id="fileHelp" class="form-text text-muted">Upload High Quality Images </small>
                <img :src="news.file_url" class="img-responsive">
            </el-form-item>
            <el-form-item>
                <el-button type="info" round @click="resetForm('news')">Value Reset</el-button>
                <router-link :to="{ name: 'NewsManage' }">
                    <el-button type="primary" round>Back</el-button>
                </router-link>
                <el-button type="primary" round @click="submitForm('news')">Save</el-button>
            </el-form-item>
        </el-form>
    </div>
</template>
<style scoped>
    img {
        max-height: 120px;
    }
</style>
<script>
    import VueCkeditor from "vue-ckeditor2";
    import {
        Message
    } from 'element-ui';
    export default {
        props: ["newsid", "editation"],
        components: {
            VueCkeditor
        },
        data() {
            return {
                content: "",
                config: {
                    height: 150
                },
                allnews: [],
                news: {
                    id: '',
                    title: '',
                    description:'',
                    published_by:'',
                    published_date:'',
                    file_url:'',
                    is_active:'',
                    is_feature:''
                },
                news_id: '',
                pagination: {},
                edit: false,

                rules: {
                    title: [{
                        required: true,
                        message: "Please input Article name",
                        trigger: "change"
                    }],

                    description: [{
                        required: true,
                        message: "Please Inser Descrition",
                        trigger: "change"
                    }],
                    published_date: [{
                        required: true,
                        message: "Please pick a date",
                        trigger: "change"
                    }],
                }
            };
        },

        beforeMount() {
            this.loading = this.$loading({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.7)'
            });

            setTimeout(() => {
                this.loading.close();
            }, 500);
            if (this.editation != true) {} else {
                var news = this.newsid;
                this.EditNews(news);
            }
        },
        methods: {
            onBlur(editor) {},

            onFocus(editor) {},
            onFileChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length) return;
                this.createImage(files[0]);
            },

            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = e => {
                    this.news.file_url = e.target.result;
                };
                reader.readAsDataURL(file);
            },

            EditNews(news) {
                this.edit = true;
                this.news.id = news.id;
                this.news.news_id = news.id;
                this.news.title =news.title;
                this.news.description = news.description;
                this.news.published_date =news.published_date;
                this.news.is_feature = news.is_feature;
                this.news.is_active = news.is_active;
                this.news.file_url = news.file_url;
            },

            submitForm(formName) {
                this.$refs[formName].validate(valid => {
                    if (valid) {
                        if (this.edit === false) {
                            fetch("api/news", {
                                    method: "POST",
                                    body: JSON.stringify(this.news),
                                    headers: {
                                        "content-type": "application/json",
                                        Authorization: "Bearer " + localStorage.getItem("access_token")
                                    }
                                })
                                .then(res => res.json())
                                .then(data => {
                                    if (data.error) {
                                        this.$message({
                                            showClose: true,
                                            message: data.error,
                                            type: 'error'
                                        })
                                    } else {
                                        this.$router.push('/newslisting', () => {
                                            this.$message({
                                                showClose: true,
                                                message: 'Congrats, Article is Successfully Added to ours System',
                                                type: 'success'
                                            });
                                        });
                                    }
                                })
                                .catch(err => console.log(err));
                        } else {
                            fetch("api/news", {
                                    method: "put",
                                    body: JSON.stringify(this.news),
                                    headers: {
                                        "content-type": "application/json",
                                        Authorization: "Bearer " + localStorage.getItem("access_token")
                                    }
                                }).then(res => res.json())
                                .then(data => {
                                    if (data.error) {
                                        this.$message({
                                            showClose: true,
                                            message: data.error,
                                            type: 'error'
                                        })
                                    } else {
                                        this.$router.push('/newslisting', () => {
                                            this.$message({
                                                showClose: true,
                                                message: 'Congrats, Items is Successfully Edit to ours System',
                                                type: 'success'
                                            });
                                        });
                                    }
                                })
                                .catch(err => console.log(err));
                        }
                    } else {
                        console.log("error submit!!");
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
        }
    };
</script>