<template>
    <el-main>
        <div class="container centered">
            <el-row>
                <el-col :span="24">
                    <div class="grid-content">
                        <el-button type="primary" class="is-right" @click="AddFormclearHandle()" round>Add New</el-button>
                    </div>
                </el-col>
            </el-row>
            <el-dialog class="el-dialog-md" title="Add Role" :visible.sync="dialogFormVisible" :before-close="handleClose">
                <el-form :model="user_role" :rules="rules" ref="user_role">
                    <el-form-item label="User Role" prop="role">
                        <el-input v-model="user_role.role"></el-input>
                    </el-form-item>
                    <el-form-item label="Activity type">
                        <el-col :span="6">
                            <el-checkbox-group v-model="user_role.is_active">
                                <el-checkbox label="Is Active" name="type" :value="user_role.is_active" :checked="!!+user_role.is_active">
                                </el-checkbox>
                            </el-checkbox-group>
                        </el-col>
                    </el-form-item>
                </el-form>

                <span slot="footer" class="dialog-footer">
                    <el-button @click="handleCancle()">Cancel</el-button>
                    <el-button type="primary" @click="resetForm('user_role')">Reset</el-button>
                    <el-button type="primary" @click="submitForm('user_role')">Save</el-button>
                </span>
            </el-dialog>

            <el-table :data="user_roles" :default-sort="{prop: 'role', order: 'descending'}" style="width: 100%">
                <el-table-column prop="role" label="User Role" sortable width="180">
                </el-table-column>
                <el-table-column prop="is_active" label="Is Active">
                </el-table-column>
                <el-table-column label="Operations">
                    <template slot-scope="scope">
                        <el-button size="mini" @click="editRole(scope.row)">Edit</el-button>
                        <!-- <el-button size="mini" type="danger" @click="centerDialogVisible = true" @click="handleDelete(scope.row.id)">Delete</el-button> -->
                        <el-button size="mini" type="danger" @click="Modelhandledelete(scope.row.id)">Delete</el-button>

                        <el-dialog title="Warning" :visible.sync="centerDialogVisible" width="30%" center>
                            <span>It should be noted that the content will be deleted</span>
                            <span slot="footer" class="dialog-footer">
                                <el-button @click="centerDialogVisible = false">Cancel</el-button>
                                <el-button type="primary" @click="handleDelete(deleteid)">Confirm</el-button>
                            </span>
                        </el-dialog>
                    </template>
                </el-table-column>

            </el-table>

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li v-bind:class="[{disabled: !pagination.pre_page_url}]" class="page-item">
                        <a class="page-link" href="#" @click="fetchRoles(pagination.pre_page_url)">Previous</a>
                    </li>

                    <li class="page-item disabled">
                        <a class="page-link text-dark" href="#">Page {{ pagination.current_page}} of {{
                            pagination.last_page}}</a>
                    </li>

                    <li v-bind:class="[{disabled: !pagination.next_page_url}]" class="page-item">
                        <a class="page-link" href="#" @click="fetchRoles(pagination.next_page_url)">Next</a>
                    </li>
                </ul>
            </nav>

        </div>
    </el-main>
</template>

<script>
    import {
        Message
    } from 'element-ui';
    export default {

        data() {
            return {
                 user_roles: [],
                user_role: {
                    id: '',
                    role: '',
                    is_active: ''
                },
                role_id: '',
                pagination: {},
                edit: false,
                loading: false,
                centerDialogVisible: false,
                dialogFormVisible: false,
                deleteid: 0,

                rules: {
                    role: [{
                        required: true,
                        message: "Please input User Role",
                        trigger: "change"
                    }],
                   
                }
            };
        },

        beforeMount() {
            this.loading = this.$loading({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.7)'
            });

            setTimeout(() => {
                this.loading.close();
            }, 500);
            this.fetchRoles();
        },
        methods: {
            AddFormclearHandle(){
                this.user_role.role = '';
                this.user_role.is_active = '';
                this.dialogFormVisible = true;
            },
            handleCancle() {
                this.edit = false;
                this.resetForm('user_role');
                this.dialogFormVisible = false;
            },
            handleClose(done) {
                this.edit = false;
                this.resetForm('user_role');
                done();
            },

            Modelhandledelete(id) {
                this.centerDialogVisible = true;
                this.deleteid = id;

            },

           
            fetchRoles(page_url) {
                let vm = this;
                page_url = page_url || '/api/user_roles'
                fetch(page_url, {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('access_token')
                        }
                    })
                    .then(res => res.json())
                    .then(res => {
                        this.user_roles = res.data;
                        vm.makePagination(res.meta, res.links);
                    })
                    .catch(err => console.log(err));
            },

            makePagination(meta, links) {
                let pagination = {
                    current_page: meta.current_page,
                    last_page: meta.last_page,
                    next_page_url: links.next,
                    pre_page_url: links.prevs
                }
                this.pagination = pagination;
            },

            editRole(user_role) {
                this.dialogFormVisible = true;
                this.edit = true;
                this.user_role.id = user_role.id;
                this.user_role.role_id = user_role.id;
                this.user_role.role = user_role.role;
            },

            handleDelete(id) {
                this.centerDialogVisible = false;
                fetch(`api/user_role/${id}`, {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('access_token')
                        },
                        method: 'delete'
                    })
                    .then(res => res.json())
                    .then(data => {
                        if (data.error) {
                            this.$message({
                                showClose: true,
                                message: data.error,
                                type: 'error'
                            })
                        } else {
                            this.fetchRoles();
                            this.$message({
                                showClose: true,
                                message: 'Congrats, Ads is Successfully deleted to ours System',
                                type: 'success'
                            });
                        }
                    })
                    .catch(err => console.log(err));

            },

            submitForm(formName) {
                this.$refs[formName].validate(valid => {
                    if (valid) {
                        if (this.edit === false) {
                            fetch("api/user_role", {
                                    method: "POST",
                                    body: JSON.stringify(this.user_role),
                                    headers: {
                                        "content-type": "application/json",
                                        Authorization: "Bearer " + localStorage.getItem("access_token")
                                    }
                                })
                                .then(res => res.json())
                                .then(data => {
                                    if (data.error) {
                                        this.$message({
                                            showClose: true,
                                            message: data.error,
                                            type: 'error'
                                        })
                                    } else {
                                        this.dialogFormVisible = false;
                                        this.fetchRoles();
                                        this.$message({
                                            showClose: true,
                                            message: 'Congrats, Ads is Successfully Added to ours System',
                                            type: 'success'
                                        });

                                    }
                                })
                                .catch(err => console.log('raja'));
                        } else {
                            fetch("api/user_role", {
                                    method: "put",
                                    body: JSON.stringify(this.user_role),
                                    headers: {
                                        "content-type": "application/json",
                                        Authorization: "Bearer " + localStorage.getItem("access_token")
                                    }
                                }).then(res => res.json())
                                .then(data => {
                                    if (data.error) {
                                        this.$message({
                                            showClose: true,
                                            message: data.error,
                                            type: 'error'
                                        })
                                    } else {
                                        this.dialogFormVisible = false;
                                        this.fetchRoles();
                                        this.$message({
                                            showClose: true,
                                            message: 'Congrats, Items is Successfully Edit to ours System',
                                            type: 'success'
                                        });
                                    }
                                })
                                .catch(err => console.log(err));
                        }
                    } else {
                        console.log("error submit!!");
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
        }
    };
</script>