<template>
    <div class="contact-info-wrap">
                <div class="container">
                    <div class="text-center">
                        <h2>Articles</h2>
                    </div>
                    <el-row :gutter='10'>
                        <el-col :xs="24" :sm='12' :span="12" v-for="article in articleslist" :key="article.id" style="margin-bottom:10px;">
                            <el-card class="box-card" shadow="hover">
                                <div class="text item media-info">
                                    <div class="img" style="height:90px;width:90px">
                                        <img :src="article.file_url"></div>
                                    <div class="info ">
                                        <div class="slot">
                                            <strong class="name">{{article.title}}</strong>
                                        </div>
                                        <p v-if="article.description.length >= 200">{{article.description.substring(0,30)+"..." | striphtml}}</p>
                                        <p v-else>{{article.description | striphtml}}</p>
                                        <div class="slot">
                                            <i class="material-icons">alternate_email</i> <a href="mailto:yourmail@gmail.com">{{article.published_by}}</a>
                                        </div>
                                        <div class="slot">
                                            <i class="material-icons">local_phone</i> <a href="tel:123456789">{{article.published_date}}</a>
                                        </div>
                                        <div class="slot">
                                            <el-button type="text" style="float: right; padding: 3px 0" class="button">View
                                                Details</el-button>
                                        </div>
                                    </div>
                                </div>
                            </el-card>
                        </el-col>
                    </el-row>
                </div>
            </div>
</template>

<script>
    export default {
        data() {
            return {
               articleslist:[],
            }
        },
        created() {
            this.fetchArticles();
        },
        methods: {

             fetchArticles() {
                fetch('/api/articles')
                    .then(res => res.json())
                    .then(res => {
                        this.articleslist = res.data.slice(0, 3);;
                    })
                    .catch(err => console.log(err));
            },
           
        }
    }
</script>