<template>
  <div class="main-frame-top">
                <div class="container">
                    <div class="inner">
                        <el-row :gutter="10">
                            <el-col :xs="12" :sm='12' :md='6' v-for="category in categorylist" :key="category.id">
                                <div class="media-info">
                                    <div class="img"><img :src="category.category_image"></div>
                                    <div class="info">
                                        <router-link v-on:click.native="doSomethingCool" :to="{ name: 'orginfobycategory', params:{categoryid:category.id ,
                                        cateroryid:true,
                                        orginfo:organization} }"><h4>{{category.category_name}}</h4></router-link>
                                        <span class="designation">{{randomNumber()}}</span>
                                    </div>
                                </div>
                            </el-col>
                        </el-row>
                    </div>
                </div>
            </div>
</template>

<script>
export default {
    props:["categorylist","organization","is_hide"],
        data(){
            return{
                querystring:'',
                querycategory:''
            }
        },
        mounted(){
            this.is_hide = false;
        },
        methods: {
            
           
            }
};
</script>
