<template>
   <div class="cta-block">
                <div class="container">
                    <h2>Require something special?</h2>
                    <p>We might help you to build it better way!</p>
                    <el-button type="info">Send us some words</el-button>
                </div>
            </div>
</template>

<script>
    export default {
        // props: ["categorylist"],
        // data() {
        //     return {
        //         querystring: '',
        //         querycategory: ''
        //     }
        // }
    };
</script>