<template>
  <el-container>
    <header class="main-header" style="background-image:url('http://www.asintours.com/images/static/contact-bg.png')">
      <el-row :gutter="10" class="top-nav">
        <el-col :span="12">
          <a class="logo" href="/">DataInformation</a>
        </el-col>
        <el-col class="text-right" :span="12">
          <el-button type="primary" size="small" round>Login</el-button>
          <el-button type="success" size="small" round>Sign Up</el-button>
        </el-col>
      </el-row>
      <div class="center-content">
        <h1>Ask To Marina</h1>
        <div class="search-box">
          <el-row :gutter="10" class="top-nav">
            <el-col :span="10">
              <el-select v-model="querycategory" @change="GetOrganizationInfo" multiple placeholder="Select any Category">
                <el-option v-for="category in categorylist" :key="category.id" :label="category.category_name" :value="category.id">
                </el-option>
              </el-select>
            </el-col>
            <el-col :span="10">
              <el-autocomplete class="inline-input" v-model="state2" :fetch-suggestions="querySearch" placeholder="Kathmandu"
                @select="handleSelect"></el-autocomplete>
            </el-col>
            <el-col :span="4">
              <el-button type="primary" round>Find Now</el-button>
            </el-col>
          </el-row>
        </div>
      </div>
      <div class="category-wrap">
        <h2>Boost Your Search With <b>Trending Categories</b></h2>
        <ul class="list-unstyled m-0">
          <li class="d-inline-block">Hello</li>
          <li class="d-inline-block">Brother</li>
          <li class="d-inline-block">How</li>
          <li class="d-inline-block">Are</li>
          <li class="d-inline-block">You</li>
        </ul>
      </div>
    </header>
    <el-main class="home">
    </el-main>
    <el-footer>Footer</el-footer>
  </el-container>
</template>
<style lang="scss">
  .main-header {
    background-color: #12226c;
    padding: 0 20px;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background-color: rgba($color: #000000, $alpha: .5);
    }

    .center-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    h1 {
      font-size: 36px;
      line-height: 1.2;
      color: #fff;
    }
  }

  .top-nav {
    padding: 20px 0;
  }

  .home {
    margin: 0;
  }

  .logo {
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #fff;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  .category-wrap {
    background-color: #fff;
    border-radius: 30px 30px 0 0;
    padding: 30px 20px;
    text-align: center;

    h2 {
      font-size: 24px;
      font-weight: 500;
      text-transform: uppercase;

      b {
        color: #000;
        font-weight: 700;
      }
    }
  }

  .el-popper .popper__arrow {
    display: none;
  }

  .el-autocomplete-suggestion__wrap {
    border-radius: 0;
  }
</style>
<script>
  export default {
    data() {
      return {
        links: [],
        state1: '',
        state2: '',
        categorylist: [],
        querycategory: [],
        Querydata:[],
        test:0
      };
    },
    mounted() {
      this.links = this.loadAll();
      this.fetchCategory();
    },

    methods: {
        GetOrganizationInfo(){
          this.test = 2;
          fetch(`api/organizationinfobycategory/${this.test}`).then(res => res.json())
          .then(res => {
            this.Querydata = res.data;
          })
          .catch(err => console.log(err));
        },

      fetchCategory() {

        fetch('/api/categories')
          .then(res => res.json())
          .then(res => {
            this.categorylist = res.data;
          })
          .catch(err => console.log(err));
      },

      querySearch(queryString, cb) {
        var links = this.links;
        var results = queryString ? links.filter(this.createFilter(queryString)) : links;
        cb(results);
      },
      createFilter(queryString) {
        return (link) => {
          return (link.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
        };
      },
      loadAll() {
        return [{
            "value": "vue",
            "link": "https://github.com/vuejs/vue"
          },
          {
            "value": "element",
            "link": "https://github.com/ElemeFE/element"
          },
          {
            "value": "cooking",
            "link": "https://github.com/ElemeFE/cooking"
          },
          {
            "value": "mint-ui",
            "link": "https://github.com/ElemeFE/mint-ui"
          },
          {
            "value": "vuex",
            "link": "https://github.com/vuejs/vuex"
          },
          {
            "value": "vue-router",
            "link": "https://github.com/vuejs/vue-router"
          }
        ];
      },
      handleSelect(item) {
        console.log(item);
      }
    },

  }
</script>