<template>
  <footer id="footer" class="style1">
            <div class="container">
                <el-row class="row" :gutter='10'>
                    <el-col :xs='24' :sm='12' :md='6'>
                        <div class="widget-ft style1 widget-about">
                            <h3 class="title">About us</h3>
                            <p>The industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                galley of type and scrambled it to make a type specimen book.
                            </p>
                            <ul class="social">
                                <li>
                                    <a href="#" title="">
                                        <i class="fa fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div><!-- /.widget-text -->
                    </el-col><!-- /.col-md-3 col-sm-6 -->
                    <el-col :xs='24' :sm='12' :md='6'>
                        <div class="widget-ft style1 widget-services">
                            <h3 class="title">Quicklink</h3>
                            <ul class="one-half first">
                                <li><a href="#" title="">Home</a></li>
                                <li><a href="#" title="">About us</a></li>
                                <li><a href="#" title="">Services</a></li>
                                <li><a href="#" title="">Cases</a></li>
                            </ul><!-- /.one-half -->
                            <ul class="one-half">
                                <li><a href="#" title="">Contact us</a></li>
                                <li><a href="#" title="">Clients</a></li>
                                <li><a href="#" title="">Testimonial</a></li>
                                <li><a href="#" title="">News</a></li>
                            </ul><!-- /.one-half -->
                        </div>
                    </el-col>
                    <el-col :xs='24' :sm='12' :md='6'>
                        <div class="widget-ft style1 widget-lastest">
                            <h3 class="title">Latest Twitter</h3>
                            <ul>
                                <li>
                                    <a href="#" title=""><i class="fa fa-twitter"></i>@Stats</a> Lorem Ipsum has been
                                    the industry's standard dummy text ever since the 1500s.
                                </li>
                                <li>
                                    <a href="#" title=""><i class="fa fa-twitter"></i>@Stats.D</a> Lorem Ipsum is
                                    simply dummy text of the printing and typesetting.Lorem Ipsum is simply dummy.
                                </li>
                            </ul>
                        </div>
                    </el-col>
                    <el-col :xs='24' :sm='12' :md='6'>
                        <div class="widget-ft style1 widget-subscribe">
                            <h3 class="title">Subscribe</h3>
                            <form id="subscribe-form" action="#" method="post" accept-charset="utf-8" data-mailchimp="true">
                                <div id="subscribe-content">
                                    <div class="input-email">
                                        <input type="email" name="email-form" id="subscribe-email" placeholder="Your email address..." />
                                    </div>
                                    <button type="button" id="subscribe-button" class="button-subscribe">SUBMIT NOW</button>
                                </div>
                                <div id="subscribe-msg"></div>
                            </form>
                        </div>
                    </el-col>
                </el-row>
            </div>
        </footer>
</template>

<script>
export default {
    // props:["categorylist"],
    //     data(){
    //         return{
    //             querystring:'',
    //             querycategory:''
    //         }
    //     }
};
</script>
