<template>
    <el-container>
        <el-header class="header-main">
            <div class="container">
                <div class="logo">
                    <router-link @click.native="is_hide =true" :to="{ name: 'frontend'}"> 
                         <img :src="url+'images/static/logo.svg'" style="width:80px; height:80px;"></router-link></div>
                <div v-if="!is_hide" class="filter-meta">
                    <div>
                        <el-autocomplete placeholder="Please input" v-model="querystring" class="inline-input input-with-select"
                            :fetch-suggestions="querySearch" @select="handleSelect">
                            <el-select v-model="querycategory" @change="GetOrganizationInfo" slot="prepend" placeholder="Select">
                                <el-option v-for="category in categorylist" :key="category.id" :label="category.category_name"
                                    :value="category.id">
                                </el-option>
                            </el-select>
                            <el-button slot="append" icon="el-icon-search" @click="DataSearch()"></el-button>
                            <el-button slot="append" icon="el-icon-remove" @click="RemoveSearch()"></el-button>
                        </el-autocomplete>
                    </div>
                </div>
                <div class="main-nav">
                    <el-menu class="el-menu-demo" mode="horizontal">
                        <el-menu-item index="1">Login</el-menu-item>
                        <el-menu-item index="2">Register</el-menu-item>
                    </el-menu>
                </div>
            </div>
        </el-header>
        <div v-if="is_hide" class="visual">
            <div class="bg">
                <img :src="url+'images/static/bg-visual-01.jpg'" alt="images">
            </div>
            <div class="visual-text">
                <h2>Ask To Marina</h2>
                <strong class="content-title">BE A PART OF THE LOCAL SEARCH REVOLUTION</strong>
                <div class="filter-meta">
                    <div>
                        <el-autocomplete placeholder="Please input" v-model="querystring" class="inline-input input-with-select"
                            :fetch-suggestions="querySearch" @select="handleSelect">
                            <el-select v-model="querycategory" @change="GetOrganizationInfo" slot="prepend" placeholder="Select">
                                <el-option v-for="category in categorylist" :key="category.id" :label="category.category_name"
                                    :value="category.id">
                                </el-option>
                            </el-select>
                            <el-button slot="append" icon="el-icon-search" @click="DataSearch()"></el-button>
                            <el-button slot="append" icon="el-icon-remove" @click="RemoveSearch()"></el-button>
                        </el-autocomplete>
                    </div>
                </div>
            </div>

            <div class="visual-frame">
                <div class="btn-wrapper">
                    <el-button type="primary">CATEGORY</el-button>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="main-frame-top">
                <div class="container">
                    <div class="inner">
                        <el-row container :gutter="10">
                            <el-col :xs="12" :sm='12' :md='6' v-for="category in categorylist" :key="category.id">
                                <div class="media-info">
                                    <div class="img"><img :src="url+category.category_image"></div>
                                    <div class="info">
                                        <strong @click="changesometext(category.id,category.category_name)"> <a href="#">{{category.category_name}}</a></strong>
                                        <span class="designation">{{randomNumber()}}</span>
                                    </div>
                                </div>
                            </el-col>
                        </el-row>
                    </div>
                </div>
            </div>
            <router-view></router-view>
        </div>
        <footerhomepage></footerhomepage>
    </el-container>
</template>

<style>
    .el-select .el-input {
        width: 110px;
    }

    .input-with-select .el-input-group__prepend {
        background-color: #fff;
    }

    .el-card__body {
        padding: 10px;
    }

    .el-autocomplete {
        width: 100%;
    }

    .filter-meta .el-select .el-input {
        min-width: 190px;
    }

    .card-right {
        float: right;
    }
     .visual .bg img {
    opacity: 1;
}
.el-header.header-main{
    padding: 0px 0;
}

</style>

<script>
    import HomeTabComponent from './HomeTabcomponent';

    export default {
        //  props:["is_hide"],
        components: {
            HomeTabComponent
        },
        data() {
            return {
                url:"http://localhost:8000/",
                is_hide:true,
                input3: '',
                input4: '',
                input5: '',
                select: '',
                categorylist: [],
                organizationbasicinfo: [],
                filterable: [],
                querycategory: '',
                querystring: '',
                stringfilterable: [],
                links: [],
                is_search: false,
                infodisplay: [],
                card_size_small: 8,
                card_size_larg: 16
            }
        },
        mounted() {
            // if(JSON.parse(localStorage.getItem("is_hide")) != null){
            //      this.is_hide = JSON.parse(localStorage.getItem("is_hide"));
            // }
           
            this.fetchOrganizationBasicInfo();
            this.fetchCategory();
        },
        methods: {
            changesometext(id,catname){
                var vm = this;
                vm.is_hide=false,
                vm.infodisplay=[];
                var category_id = id;
                vm.infodisplay = JSON.parse(localStorage.getItem("filterable")).filter(function (organization) {

                    return organization.category_id === category_id;
                });
                localStorage.setItem("locatfilterorginfo",JSON.stringify(vm.infodisplay));
                localStorage.setItem("is_hide",JSON.stringify(vm.is_hide));
                this.$router.push({ name: 'orginfobycategory', params: { category: catname.replace(/\s/g, '') ,orginfo:vm.infodisplay}});
            },
            
            randomNumber: function () {
                return Math.floor(Math.random() * 9000) + 1000;
            },
            RemoveSearch() {
                this.is_search = false;
                this.querystring = '';
                this.querycategory = '';
            },

            DataSearch() {
                var vm = this;
                vm.is_hide = false;
                var stringfilterable = vm.organizationbasicinfo;
                vm.organizationbasicinfo = stringfilterable.filter(function (organization) {
                    return organization.organization_name.toLowerCase().includes(vm.querystring.toLowerCase())
                });
                this.$router.push({ name: 'orginfobycategory', params: { category: vm.querystring ,orginfo:vm.organizationbasicinfo}});

            },
            GetOrganizationInfo(selected) {
                debugger;
                var vm = this;
                vm.is_hide = false;
                var querystring = '';
                var querycategory_id = selected;
                vm.organizationbasicinfo = vm.filterable.filter(function (organization) {
                    return organization.category_id === querycategory_id;
                });
                this.$router.push({ name: 'orginfobycategory', params: { category: querycategory_id ,orginfo:vm.organizationbasicinfo}});

            },
            fetchCategory() {

                fetch('/api/categories')
                    .then(res => res.json())
                    .then(res => {
                        this.categorylist = res.data.slice(0, 4);;
                    })
                    .catch(err => console.log(err));
            },

            querySearch(queryString, cb) {
                var links = this.organizationbasicinfo;
                var results = queryString ? links.filter(this.createFilter(queryString)) : links;
                // var top3 = results.slice(0, 3);
                cb(results);
            },
            createFilter(queryString) {
                return (link) => {
                    return (link.organization_name.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
                };
            },
            
            fetchOrganizationBasicInfo() {
                fetch('api/orgonizationlist', {})
                    .then(res => res.json())
                    .then(res => {
                        this.infodisplay = res.data.slice(0, 6);
                        this.organizationbasicinfo = res.data;
                        
                        localStorage.setItem("filterable",JSON.stringify(res.data));
                    })
                    .catch(err => console.log(err));
            },
            handleSelect(item) {
                console.log(item);
            }
        }
    }
</script>