<template>
        <div class="main-content">
            <HomeTabComponent></HomeTabComponent>
            <organizationhomepagecard :infodisplay="infodisplay" :size="card_size_small">
            </organizationhomepagecard>
            <feedback></feedback>
            <articlecomponent></articlecomponent>
        </div>
        
</template>

<style>
    .el-select .el-input {
        width: 110px;
    }

    .input-with-select .el-input-group__prepend {
        background-color: #fff;
    }

    .el-card__body {
        padding: 10px;
    }

    .el-autocomplete {
        width: 100%;
    }

    .filter-meta .el-select .el-input {
        min-width: 190px;
    }

    .card-right {
        float: right;
    }
</style>

<script>
    import HomeTabComponent from './HomeTabcomponent';

    export default {
        components: {
            HomeTabComponent
        },
        data() {
            return {
                input3: '',
                input4: '',
                input5: '',
                select: '',
                categorylist: [],
                organizationbasicinfo: [],
                filterable: [],
                querycategory: '',
                querystring: '',
                stringfilterable: [],
                links: [],
                is_search: false,
                infodisplay: [],
                card_size_small: 8,
                card_size_larg: 16
            }
        },
        mounted() {
            this.fetchOrganizationBasicInfo();
            this.fetchCategory();
        },
        methods: {
            RemoveSearch() {
                this.is_search = false;
                this.querystring = '';
                this.querycategory = '';
            },

            DataSearch() {
                var vm = this;
                var stringfilterable = vm.organizationbasicinfo;
                vm.organizationbasicinfo = stringfilterable.filter(function (organization) {
                    return organization.organization_name.toLowerCase().includes(vm.querystring.toLowerCase())
                });
                this.is_search = true;
                return vm.organizationbasicinfo;

            },
            GetOrganizationInfo(selected) {
                var vm = this;
                var querystring = '';
                var querycategory_id = selected;
                vm.organizationbasicinfo = vm.filterable.filter(function (organization) {
                    return organization.category_id === querycategory_id;
                });
                this.is_search = true;
                return vm.organizationbasicinfo;
            },
            fetchCategory() {

                fetch('/api/categories')
                    .then(res => res.json())
                    .then(res => {
                        this.categorylist = res.data.slice(0, 4);;
                    })
                    .catch(err => console.log(err));
            },

            querySearch(queryString, cb) {
                var links = this.organizationbasicinfo;
                var results = queryString ? links.filter(this.createFilter(queryString)) : links;
                // var top3 = results.slice(0, 3);
                cb(results);
            },
            createFilter(queryString) {
                return (link) => {
                    return (link.organization_name.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
                };
            },
            fetchOrganizationBasicInfo() {
                fetch('api/organizationbasicinfo', {})
                    .then(res => res.json())
                    .then(res => {
                        this.infodisplay = res.data.slice(0, 6);
                        this.organizationbasicinfo = res.data;
                        this.filterable = res.data;
                    })
                    .catch(err => console.log(err));
            },
            handleSelect(item) {
                console.log(item);
            }
        }
    }
</script>