<template>
    <div class="main-feature-wrap">
        <div class="container">
            <el-tabs :tab-position="tabPosition">
                <el-tab-pane label="Rashifal">
                    <div class="text-center">
                        <h2>Rashifal
                            <el-select v-model="value" placeholder="Select">
                                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                                </el-option>
                            </el-select>
                        </h2>
                    </div>

                    <el-row :gutter='10' v-for="rashifal in rashifals" :key="rashifal.id">
                        <el-col :xs="24" :sm='12' :md='8' style="margin-bottom:10px;">
                            <el-card class="box-card">
                                <div slot="header" class="clearfix">
                                    <span class="designation">मेष - चु, चे, चो, ला, लि, लु, ले, लो, अ (Aries)</span>
                                </div>
                                <div class="text item media-info">
                                    <div class="img"><img :src="url+'images/static/1.png'" height="60" width="60"></div>
                                    <div class="info">
                                        <span class="designation">{{rashifal.aries}}</span>
                                    </div>
                                </div>
                            </el-card>
                        </el-col>
                        <el-col :xs="24" :sm='12' :md='8' style="margin-bottom:10px;">
                            <el-card class="box-card">
                                <div slot="header" class="clearfix">
                                    <span class="designation">बृष - इ, उ, ए, ओ, बा, बि, बु, बे, बो (Taurus)</span>
                                </div>
                                <div class="text item media-info">
                                    <div class="img"><img :src="url+'images/static/2.png'" height="60" width="60"></div>
                                    <div class="info">
                                        <span class="designation">{{rashifal.taurus}}</span>
                                    </div>
                                </div>
                            </el-card>
                        </el-col>
                        <el-col :xs="24" :sm='12' :md='8' style="margin-bottom:10px;">
                            <el-card class="box-card">
                                <div slot="header" class="clearfix">
                                    <span class="designation">मिथुन - का, कि, कु, घ, ङ, छ, के, को, ह (Gemini)</span>
                                </div>
                                <div class="text item media-info">
                                    <div class="img"><img :src="url+'images/static/3.png'" height="60" width="60"></div>
                                    <div class="info">
                                        <span class="designation">{{rashifal.gemini}}</span>
                                    </div>
                                </div>
                            </el-card>
                        </el-col>
                        <el-col :xs="24" :sm='12' :md='8' style="margin-bottom:10px;">
                            <el-card class="box-card">
                                <div slot="header" class="clearfix">
                                    <span class="designation">कर्कट - हि, हु, हे, हो, डा, डि, डु, डे, डो (Cancer)</span>
                                </div>
                                <div class="text item media-info">
                                    <div class="img"><img :src="url+'images/static/4.png'" height="60" width="60"></div>
                                    <div class="info">
                                        <span class="designation">{{rashifal.cancer}}</span>
                                    </div>
                                </div>
                            </el-card>
                        </el-col>
                        <el-col :xs="24" :sm='12' :md='8' style="margin-bottom:10px;">
                            <el-card class="box-card">
                                <div slot="header" class="clearfix">
                                    <span class="designation">
                                        सिंह - मा, मि, मु, मे, मो, टा, टि, टु, टे (Leo)</span>
                                </div>
                                <div class="text item media-info">
                                    <div class="img"><img :src="url+'images/static/5.png'" height="60" width="60"></div>
                                    <div class="info">
                                        <span class="designation">{{rashifal.leo}}</span>
                                    </div>
                                </div>
                            </el-card>
                        </el-col>
                        <el-col :xs="24" :sm='12' :md='8' style="margin-bottom:10px;">
                            <el-card class="box-card">
                                <div slot="header" class="clearfix">
                                    <span class="designation">
                                        कन्या - टो, प, पि, पु, ष, ण, ठ, पे, पो (Virgo)</span>
                                </div>
                                <div class="text item media-info">
                                    <div class="img"><img :src="url+'images/static/6.png'" height="60" width="60"></div>
                                    <div class="info">
                                        <span class="designation">{{rashifal.virgo}}</span>
                                    </div>
                                </div>
                            </el-card>
                        </el-col>
                        <el-col :xs="24" :sm='12' :md='8' style="margin-bottom:10px;">
                            <el-card class="box-card">
                                <div slot="header" class="clearfix">
                                    <span class="designation">
                                        तुला - र, रि, रु, रे, रो, ता, ति, तु, ते (Libra)</span>
                                </div>
                                <div class="text item media-info">
                                    <div class="img"><img :src="url+'images/static/7.png'" height="60" width="60"></div>
                                    <div class="info">
                                        <span class="designation">{{rashifal.libra}}</span>
                                    </div>
                                </div>
                            </el-card>
                        </el-col>
                         <el-col :xs="24" :sm='12' :md='8' style="margin-bottom:10px;">
                            <el-card class="box-card">
                                <div slot="header" class="clearfix">
                                    <span class="designation">
                                        बृश्चिक - तो, ना, नि, नु, ने, नो, या, यि, यु (Scorpio)</span>
                                </div>
                                <div class="text item media-info">
                                    <div class="img"><img :src="url+'images/static/8.png'" height="60" width="60"></div>
                                    <div class="info">
                                        <span class="designation">{{rashifal.scorpio}}</span>
                                    </div>
                                </div>
                            </el-card>
                        </el-col>
                        <el-col :xs="24" :sm='12' :md='8' style="margin-bottom:10px;">
                            <el-card class="box-card">
                                <div slot="header" class="clearfix">
                                    <span class="designation">
                                       धनु - ये, यो, भ, भि, भु, ध, फा, ढ, भे (Sagittarius)</span>
                                </div>
                                <div class="text item media-info">
                                    <div class="img"><img :src="url+'images/static/9.png'" height="60" width="60"></div>
                                    <div class="info">
                                        <span class="designation">{{rashifal.sagittarius}}</span>
                                    </div>
                                </div>
                            </el-card>
                        </el-col>
                        <el-col :xs="24" :sm='12' :md='8' style="margin-bottom:10px;">
                            <el-card class="box-card">
                                <div slot="header" class="clearfix">
                                    <span class="designation">
                                       मकर - भो, ज, जि, खि, खु, खे, खो, गा, गि (Capricorn)</span>
                                </div>
                                <div class="text item media-info">
                                    <div class="img"><img :src="url+'images/static/10.png'" height="60" width="60"></div>
                                    <div class="info">
                                        <span class="designation">{{rashifal.capricorn}}</span>
                                    </div>
                                </div>
                            </el-card>
                        </el-col>
                        <el-col :xs="24" :sm='12' :md='8' style="margin-bottom:10px;">
                            <el-card class="box-card">
                                <div slot="header" class="clearfix">
                                    <span class="designation">
                                       कुम्भ - गु, गे, गो, सा, सि, सु, से, सो, द (Aquarius)</span>
                                </div>
                                <div class="text item media-info">
                                    <div class="img"><img :src="url+'images/static/11.png'" height="60" width="60"></div>
                                    <div class="info">
                                        <span class="designation">{{rashifal.aquarius}}</span>
                                    </div>
                                </div>
                            </el-card>
                        </el-col>
                        <el-col :xs="24" :sm='12' :md='8' style="margin-bottom:10px;">
                            <el-card class="box-card">
                                <div slot="header" class="clearfix">
                                    <span class="designation">
                                       मीन - दि, दु, थ, झ, ञ, दे, दो, च, चि (Pisces)</span>
                                </div>
                                <div class="text item media-info">
                                    <div class="img"><img :src="url+'images/static/12.png'" height="60" width="60"></div>
                                    <div class="info">
                                        <span class="designation">{{rashifal.pisces}}.</span>
                                    </div>
                                </div>
                            </el-card>
                        </el-col>
                    </el-row>
                </el-tab-pane>
                <el-tab-pane label="Video">
                    <el-row :gutter='10'>
                        <div class="embed-responsive embed-responsive-16by9" style="height:350px;">
                            <iframe align="middle" class="embed-responsive-item" src="https://www.youtube.com/embed/HmZKgaHa3Fg?ecver=2"></iframe>
                        </div>
                    </el-row>
                </el-tab-pane>
                
                <el-tab-pane label="News">
                    <div class="text-center">
                        <h2>News</h2>
                    </div>
                    <el-row :gutter='10'>
                        <el-col :xs='24' :sm='12' :md='6'>
                            <div class="ser-inn">
                                <div class="icons">
                                    <i class="material-icons">location_searching</i>
                                </div>
                                <h4>
                                    Stay in touch with your colleagues
                                </h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue
                                    conseqaut nibbhi ellit ipsum consectetur.
                                </p>
                            </div>
                        </el-col>
                        <el-col :xs='24' :sm='12' :md='6'>
                            <div class="ser-inn">
                                <div class="icons">
                                    <i class="material-icons">location_searching</i>
                                </div>
                                <h4>
                                    Stay in touch with your colleagues
                                </h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue
                                    conseqaut nibbhi ellit ipsum consectetur.
                                </p>
                            </div>
                        </el-col>
                        <el-col :xs='24' :sm='12' :md='6'>
                            <div class="ser-inn">
                                <div class="icons">
                                    <i class="material-icons">location_searching</i>
                                </div>
                                <h4>
                                    Stay in touch with your colleagues
                                </h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue
                                    conseqaut nibbhi ellit ipsum consectetur.
                                </p>
                            </div>
                        </el-col>
                        <el-col :xs='24' :sm='12' :md='6'>
                            <div class="ser-inn">
                                <div class="icons">
                                    <i class="material-icons">location_searching</i>
                                </div>
                                <h4>
                                    Stay in touch with your colleagues
                                </h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue
                                    conseqaut nibbhi ellit ipsum consectetur.
                                </p>
                            </div>
                        </el-col>
                    </el-row>
                </el-tab-pane>


            </el-tabs>
        </div>
    </div>
</template>
<style>
    .el-select .el-input {
        width: 110px;
    }

    .input-with-select .el-input-group__prepend {
        background-color: #fff;
    }

    .el-card__body {
        padding: 10px;
    }

    .el-autocomplete {
        width: 100%;
    }

    .filter-meta .el-select .el-input {
        min-width: 190px;
    }
</style>

<script>
    export default {
        // props:["categorylist"],

        data() {
            return {
                tabPosition: 'left',
                url: "http://localhost:8000/",
                rashifals: [],
                options: [{
                    value: 'Option1',
                    label: 'Option1'
                }, {
                    value: 'Option2',
                    label: 'Option2'
                }, {
                    value: 'Option3',
                    label: 'Option3'
                }, {
                    value: 'Option4',
                    label: 'Option4'
                }, {
                    value: 'Option5',
                    label: 'Option5'
                }],
                value: ''
            }
        },
        mounted() {
            this.fetchRashifal();
        },
        methods: {
            fetchRashifal() {
                fetch('api/rashifals', {})
                    .then(res => res.json())
                    .then(res => {
                        // this.rashifals = res.data;
                        this.rashifals = res.data.slice(0, 1);
                        // this.organizationbasicinfo = res.data;
                        // localStorage.setItem("filterable",JSON.stringify(res.data));
                    })
                    .catch(err => console.log(err));
            }
        }
    }
</script>