<template>
  <el-container>
    <el-header class="header-main">
      <div class="container">
          <div class="logo">
                    <router-link @click.native="is_hide =true" :to="{ name: 'frontend', params: { is_hide: true }}"> 
                         <img  :src= "url + 'images/static/logo.svg'" style="width:80px; height:80px;"></router-link></div>
      </div>
    </el-header>
    <div class="visual">
      <div class="bg">
        <img  :src= "url + orginfos.banner_image" alt="images">
      </div>
      <div class="visual-text">
        <h2>{{orginfos.organization_name}} ({{orginfos.category_name}})</h2>
        <strong class="content-title">Phone No: {{orginfos.phone_no}}</strong>
        <strong class="content-title">Email: {{orginfos.organization_email}}</strong>
        <strong class="content-title">Web Site: {{orginfos.website}}</strong>
        <strong class="content-title">Social Links: {{orginfos.related_links}}</strong>
      </div>
      <div class="visual-frame">
        <div class="btn-wrapper">
          <el-button type="primary">Details Information</el-button>
        </div>
      </div>
    </div>
    <div class="main-content">
      <div class="main-frame-top">
        <div class="container">
          <div class="inner">
            <el-row :gutter="10">
              <el-col :xs="12" :sm='12' :md='6'>
                <div class="media-info">
                  <div class="info">
                    <strong class="name">Phone no.</strong>
                    <span class="designation">{{orginfos.phone_no}}</span>
                  </div>
                </div>
              </el-col>
              <el-col :xs="12" :sm='12' :md='6'>
                <div class="media-info">
                  <div class="info">
                    <strong class="name">Openning Days:</strong>
                    <span class="designation">{{orginfos.openning_day}}</span>
                  </div>
                </div>
              </el-col>
              <el-col :xs="12" :sm='12' :md='6'>
                <div class="media-info">
                  <div class="info">
                    <strong class="name">Openning Time</strong>
                    <span class="designation">{{orginfos.openning_time}}</span>
                  </div>
                </div>
              </el-col>
              <el-col :xs="12" :sm='12' :md='6'>
                <div class="media-info">
                  <div class="info">
                    <strong class="name">Email</strong>
                    <span class="designation">{{orginfos.organization_email}}</span>
                  </div>
                </div>
              </el-col>
            </el-row>
          </div>
        </div>
      </div>
       <div class="contact-info-wrap">
        <div class="container">
          <el-row>
            <el-col :xs="24" :sm='12' :md='6'>
              <img  :src= "url + orginfos.profile_image" alt="images" style="height:200px">
            </el-col>
            <el-col :xs="24" :sm='12' :md='18' style="min-height:200px">
              <div class="contact-inner">
                  <div class="text-center">
                  <h4>About Us</h4>
                </div>
                <span >{{orginfos.about_organization.substring(0, 500) + "..." | striphtml}}</span>
               
              </div>
            </el-col>
          </el-row>
        </div>
      </div>
      <div class="main-feature-wrap">
        <div class="container">
          <el-tabs :tab-position="tabPosition" >
          
            <el-tab-pane label="Feature">
              <div class="text-center">
                <h2>Feature</h2>
              </div>
              <el-row :gutter='10'>
                {{orginfos.feature | striphtml}}
              </el-row>
            </el-tab-pane>
            <el-tab-pane label="Org-Info">
              <div class="text-center">
                <h2>Organization Info</h2>
              </div>
               <el-row :gutter='10'>
                {{orginfos.about_organization | striphtml}}
              </el-row>
            </el-tab-pane>
            <el-tab-pane label="Services">
              <div class="text-center">
                <h2>Services</h2>
              </div>
               <el-row :gutter='10'>
                {{orginfos.services | striphtml}}
              </el-row>
            </el-tab-pane>
          </el-tabs>
        </div>
      </div>
      <div class="cta-block">
        <div class="container">
          
          <h2>Require something special?</h2>
          <p>We might help you to build it better way!</p>
          <el-button type="info">Send us some words</el-button>
        </div>
      </div>
      <div class="contact-info-wrap">
        <div class="container">
          <el-row>
            <el-col :xs="24" :sm='12' :md='12'>
              <img src="images/venue.jpg" alt="images">
            </el-col>
            <el-col :xs="24" :sm='12' :md='12'>
              <div class="contact-inner">
                <div class="slot">
                  <i class="material-icons">pin_drop</i> Hotel MAX, 125 Still Pastures Road, South Carolina
                </div>
                <div class="slot">
                  <i class="material-icons">alternate_email</i> <a href="mailto:yourmail@gmail.com">yourmail@gmail.com</a>
                </div>
                <div class="slot">
                  <i class="material-icons">local_phone</i> <a href="tel:123456789">+98 124 445 555</a>
                </div>
              </div>
            </el-col>
          </el-row>
        </div>
      </div>
    </div>
        <footerhomepage></footerhomepage>
  </el-container>
</template>

<style>
  .el-select .el-input {
    width: 110px;
  }
  
  .input-with-select .el-input-group__prepend {
    background-color: #fff;
  }
  .visual .bg img {
    opacity: 1;
}
.el-header.header-main{
    padding: 0px 0;
}
</style>

<script>
    import HomeTabComponent from './HomeTabcomponent';

  export default {
    props: ["orginfo"],
     components: {
            HomeTabComponent
        },
    data() {
      return {
        url:"http://localhost:8000/",
        input3: '',
        input4: '',
        input5: '',
        select: '',
        tabPosition: 'left',
        // orginfo:{
        //   profile_image:'',

        // }
        orginfos:[]
      }
    },
    mounted() {
      if(typeof this.orginfo != "undefined" ){
            localStorage.setItem("setorginfo",JSON.stringify(this.orginfo));
            
            }
            this.orginfos= JSON.parse(localStorage.getItem("setorginfo"));
        },
    
  }
</script>