<template>
    <div class="contact-info-wrap">
        <div class="container" v-if="infodisplay">
            <el-row :gutter='10' v-if="size">
                <div class="text-center">
                    <h2>Some of Organizations</h2>
                </div>
                <el-col :xs="24" :sm='12' :md='size' :span="size" v-for="info in infodisplay" :key="info.id" style="margin-bottom:10px;">
                    <el-card class="box-card" shadow="hover">
                        <div class="text item media-info">
                            <div class="img" style="height:90px;width:90px">
                                <img :src="info.profile_image"></div>
                            <div class="info ">
                                <div class="slot">
                                    <strong class="name">{{info.organization_name}}</strong>
                                </div>
                                <div class="slot">
                                    <i class="material-icons">alternate_email</i> <a href="mailto:yourmail@gmail.com">{{info.organization_email}}</a>
                                </div>
                                <div class="slot">
                                    <i class="material-icons">local_phone</i> <a href="tel:123456789">{{info.phone_no}}</a>
                                </div>
                                <div class="slot">
                                    <router-link :to="{ name: 'organizationdetails', params:{slog:info.organization_name.replace(/\s/g, '') ,orginfo:info}}">
                                    <el-button type="text" style="float: right; padding: 3px 0" class="button">
                                        View Profile
                                    </el-button>
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </el-card>
                </el-col>
            </el-row>
            <el-row :gutter='10' v-else>
                <el-col :xs="24" :sm='24' :md='largesize' :span="largesize" v-for="info in infodisplay" :key="info.id">
                    <div class="card-media">
                        <div class="card-media-inner">
                            <!-- media container -->
                            <div class="card-media-object-container">
                                <div class="card-media-object" style="background-image: url(https://fsa.zobj.net/crop.php?r=7tIxj0Ll5s1SKOoe-KOlL4YBcL0YzVWHk26pUP38a1jazY_aHaMheWgjzMlQU6OSZekWIEi8cRGgMSJCX-PyhDDfMKTxZGrlg7nNPNJuhWdp9P8Lp28FFCCkXX5RH1_H66Vxg5qy43ObRLgcU_ldhhanIisR5kcm56aAb2cwRbeZjzKQhNbiLyPwas0);"></div>
                                <span class="card-media-object-tag subtle">{{info.category_name}}</span>

                            </div>
                            <!-- body container -->
                            <div class="card-media-body">
                                <span class="card-media-body-heading">{{info.organization_name}}<i class="material-icons">check_circle</i></span>
                                <div class="card-media-content"><strong>Opening Days:</strong>{{info.openning_day}}</div>
                                <div class="card-media-body-supporting">
                                    <div class="card-media-body-supporting-bottom-text subtle">
                                        <i class="material-icons">
                                            account_circle
                                        </i>
                                        <span>{{info.phone_no}}</span>
                                    </div>
                                    <div class="card-media-body-supporting-bottom-text subtle">
                                        <i class="material-icons">
                                            person_pin
                                        </i>
                                        <span>{{info.state_name}}
                                            {{info.district_name}}
                                            {{info.municipality_name}}
                                            {{info.street_address}}</span>
                                    </div>
                                    <div class="card-media-body-supporting-bottom-text subtle">
                                        <i class="material-icons">
                                            person_pin
                                        </i>
                                        <span>{{info.related_links}}</span>
                                    </div>
                                <div class="card-media-content"><strong>Opening Time:</strong>{{info.openning_time}}</div>

                                </div>
                                <div class="link-right">
                                    <router-link :to="{ name: 'organizationdetails', params:{slog:info.organization_name.replace(/\s/g, '') ,orginfo:info}}">
                                    <el-button type="text" style="float: right; padding: 3px 0" class="button">
                                        View Profile
                                    </el-button>
                                    </router-link>
                                </div>
                            </div>
                            <div class="card-media-aside">
                                <div class="slot">
                                    <a href="#">
                                        <i class="material-icons">phone</i> 985104543
                                    </a>
                                </div>
                                <div class="slot">
                                    <a href="mailto: info@email.com">
                                        <i class="material-icons">email</i> info@email.com
                                    </a>
                                </div>
                                <div class="slot">
                                    <a href="#">
                                        <i class="material-icons">http</i> website
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-media-frame">
                            <div class="col-sms">
                                <i class="material-icons">thumb_up_alt</i> Like us
                                <span class="badge-sm">1</span>
                            </div>
                            <div class="col-sms">
                                <i class="material-icons">lock</i> Claimed
                            </div>
                            <div class="col-sms">
                                <i class="material-icons">chat_bubble_outline</i> Send SMS
                            </div>
                            <div class="col-sms">
                                <i class="material-icons">list</i> Improve listing
                            </div>
                            <div class="col-sms">
                                <i class="material-icons">remove_red_eye</i> 5,423
                            </div>

                            <div class="col-sms">
                                <i class="material-icons">search</i> 10,315
                            </div>
                        </div>
                    </div>
                </el-col>
            </el-row>
        </div>
        <div class="container" v-else>
             <div class="text-center">
                    <h2>Data is not Found</h2>
                </div>
        </div>
    </div>
</template>
<style scoped>
    html {
        background-color: #fefefe;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 500;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    /* .container {
  margin: 50px auto 0;
  width: 700px;
} */

    .u-float-right {
        float: right;
    }

    .u-flex-center {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .subtle {
        color: #888;
        font-size: 12px;
    }

    .card-media {
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .12);
        margin-bottom: 25px;
        transition: all 300ms ease-out;
    }

    .card-media-inner {
        display: flex;
        flex-wrap: wrap;
    }

    .card-media:hover {
        box-shadow: 0 5px 14px rgba(0, 0, 0, .2);
    }

    .card-media-object-container {
        background: none;
        width: 200px;
        position: relative;
    }

    .card-media-object {
        background-position: center center;
        background-size: cover;
        height: 100%;
    }

    .card-media-object:after {
        content: " ";
        display: block;
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: all 300ms ease-out;
        z-index: 10;
    }

    .card-media-content {
        font-size: 13px;
    }


    .card-media-object-tag {
        background-color: #fff;
        border-radius: 2px;
        padding: 2px 7px;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .card-media-object-social-list {
        bottom: 4px;
        left: 10px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: absolute;
        z-index: 20;
    }

    .card-media-object-social-list li {
        border-radius: 50%;
        display: inline-block;
        height: 30px;
        margin-right: 6px;
        opacity: 0;
        overflow: hidden;
        transform: translateY(5px);
        transition: all 300ms ease-out;
        width: 30px;
    }

    .card-media:hover .card-media-object-social-list li {
        opacity: 1;
        transform: translateY(0);
    }

    .card-media-object-social-list li:nth-child(1) {
        transition-delay: 0;
    }

    .card-media-object-social-list li:nth-child(2) {
        transition-delay: 75ms;
    }

    .card-media-object-social-list li:nth-child(3) {
        transition-delay: 150ms;
    }

    .card-media-object-social-list-item-additional {
        border: 1px solid #fff;
        color: #fff;
        font-size: 12px;
        padding-top: 7px;
        text-align: center;
    }

    .card-media-body {
        background-color: #fff;
        float: left;
        height: 100%;
        padding: 12px 15px;
        position: relative;
        width: calc(100% - 350px);
    }

    .card-media-body-top {
        display: block;
    }

    .card-media-body-top-icons {
        margin-top: -2px;
        opacity: 0;
        transition: all 300ms ease-out;
        transform: translateY(-5px);
    }

    .card-media:hover .card-media-body-top-icons {
        opacity: 1;
        transform: translateY(0);
    }

    .card-media-body-top-icons>svg {
        cursor: pointer;
        margin-left: 10px;
        transition: all 300ms ease-out;
    }

    .card-media-body-top-icons>svg:hover {
        fill: #444;
    }

    .card-media-body-heading {
        display: block;
        color: #66b1ff;
        margin-bottom: 7px;
    }

    .card-media-body-heading i {
        font-size: 13px;
        color: green;
    }

    .card-media-body-supporting {
        padding: 15px 0;
    }

    .card-media-body-supporting .material-icons {
        font-size: 14px;
        display: inline-block;
        vertical-align: middle;
    }

    .card-media-body-supporting-bottom-text {
        margin: 3px 0;
    }

    .link-right {
        text-align: right;
    }

    .link-right a {
        color: #66b1ff;
        text-decoration: none;
        font-weight: normal;
        font-size: 14px;
    }

    .card-media-aside {
        padding: 10px;
        width: 150px;
        border-left: 1px solid #ddd;
        background-color: #fff;
    }

    .card-media-aside a {
        display: inline-block;
        margin: 8px 0;
        color: #ccc;
        font-weight: normal;
        text-decoration: none;
    }

    .card-media-aside i {
        font-size: 14px;
        display: inline-block;
        vertical-align: middle;

    }

    .card-media-frame {
        display: flex;
        flex-wrap: wrap;
        font-size: 13px;
        background: #fff;
        padding: 10px;
    }

    .card-media-frame i {
        font-size: 14px;
        display: inline-block;
        vertical-align: middle;
    }

    .badge-sm {
        background: #66b1ff;
        display: inline-block;
        vertical-align: middle;
        color: #fff;
        padding: 2px 7px;
        border-radius: 10px;
    }

    .card-media-frame .col-sm {
        padding: 0 7px;
        flex: 1 1 auto;
    }
</style>

<script>
    export default {
        props: ["infodisplay", "size", "largesize"],
        data() {
            return {
                querystring: '',
                querycategory: '',
                infodisplayes:[],
                is_hide:false,
            }

        },
        mounted(){
             if(typeof this.infodisplay != "undefined" ){
            localStorage.setItem("locatfilterorginfo",JSON.stringify(this.infodisplay));
            
            }
            this.infodisplay= JSON.parse(localStorage.getItem("locatfilterorginfo"));
           
        },
           
        
     
    };
</script>