<template>
        <div class="main-content">
            <organizationhomepagecard :infodisplay="orginfo" :largesize="card_size_larg">
            </organizationhomepagecard>
        </div>
</template>

<script>
export default {
    props:["orginfo",],
        data(){
            return{
                querystring:'',
                querycategory:'',
                card_size_larg:16,
                filterorginfo:[]
               
            }
        },
      
        methods: {
           }
};
</script>
