<template>
    <el-container>
        <el-header class="header-main">
            <div class="container">
                <div class="logo">LOGO</div>
                <div class="filter-meta">
                    <div>
                        <el-input placeholder="Please input" v-model="querystring" class="input-with-select">
                            <el-select v-model="querycategory" @change="GetOrganizationInfo" slot="prepend" placeholder="Select">
                                <el-option v-for="category in categorylist" :key="category.id" :label="category.category_name"
                                    :value="category.id">
                                </el-option>
                            </el-select>
                            <el-button slot="append" icon="el-icon-search" @click="DataSearch()"></el-button>
                        </el-input>
                    </div>
                </div>
                <div class="main-nav">
                    <el-menu class="el-menu-demo" mode="horizontal">
                        <el-menu-item index="1">Login</el-menu-item>
                        <el-menu-item index="2">Register</el-menu-item>
                    </el-menu>
                </div>
            </div>
        </el-header>
        <div class="main-content">
            <div class="main-frame-top">
                <div class="container">
                    <div class="inner">
                        <el-row :gutter="10">
                            <el-col :xs="12" :sm='12' :md='6'>
                                <div class="media-info">
                                    <div class="img"><img src="https://fakeimg.pl/300/"></div>
                                    <div class="info">
                                        <strong class="name">Dummy Heading</strong>
                                        <span class="designation">Rick Ross</span>
                                    </div>
                                </div>
                            </el-col>
                            <el-col :xs="6">
                                <div class="media-info">
                                    <div class="info">
                                        <strong class="name">Dummy Heading</strong>
                                        <span class="designation">Rick Ross</span>
                                    </div>
                                </div>
                            </el-col>
                            <el-col :xs="6">
                                <div class="media-info">
                                    <div class="info">
                                        <strong class="name">Dummy Heading</strong>
                                        <span class="designation">Rick Ross</span>
                                    </div>
                                </div>
                            </el-col>
                            <el-col :xs="6">
                                <div class="media-info">
                                    <div class="img"><img src="https://fakeimg.pl/300/"></div>
                                    <div class="info">
                                        <strong class="name">Dummy Heading</strong>
                                        <span class="designation">Rick Ross</span>
                                    </div>
                                </div>
                            </el-col>
                        </el-row>
                    </div>
                </div>
            </div>
        </div>
         <footer id="footer" class="style1">
            <div class="container">
                <el-row class="row" :gutter='10'>
                    <el-col :xs='24' :sm='12' :md='6'>
                        <div class="widget-ft style1 widget-about">
                            <h3 class="title">About us</h3>
                            <p>The industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                            </p>
                            <ul class="social">
                                <li>
                                    <a href="#" title="">
                                        <i class="fa fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>   
                        </div><!-- /.widget-text -->
                    </el-col><!-- /.col-md-3 col-sm-6 -->
                    <el-col :xs='24' :sm='12' :md='6'>
                        <div class="widget-ft style1 widget-services">
                            <h3 class="title">Quicklink</h3>
                            <ul class="one-half first">
                                <li><a href="#" title="">Home</a></li>
                                <li><a href="#" title="">About us</a></li>
                                <li><a href="#" title="">Services</a></li>
                                <li><a href="#" title="">Cases</a></li>
                            </ul><!-- /.one-half -->
                            <ul class="one-half">
                                <li><a href="#" title="">Contact us</a></li>
                                <li><a href="#" title="">Clients</a></li>
                                <li><a href="#" title="">Testimonial</a></li>
                                <li><a href="#" title="">News</a></li>
                            </ul><!-- /.one-half -->
                        </div>
                    </el-col>
                    <el-col :xs='24' :sm='12' :md='6'>
                        <div class="widget-ft style1 widget-lastest">
                            <h3 class="title">Latest Twitter</h3>
                            <ul>
                                <li>
                                    <a href="#" title=""><i class="fa fa-twitter"></i>@Stats</a> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                </li>
                                <li>
                                    <a href="#" title=""><i class="fa fa-twitter"></i>@Stats.D</a> Lorem Ipsum is simply dummy text of the printing and typesetting.Lorem Ipsum is simply dummy.
                                </li>
                            </ul>
                        </div>
                    </el-col>
                    <el-col :xs='24' :sm='12' :md='6'>
                        <div class="widget-ft style1 widget-subscribe">
                            <h3 class="title">Subscribe</h3>
                            <form id="subscribe-form" action="#" method="post" accept-charset="utf-8" data-mailchimp="true">
                                <div id="subscribe-content">
                                    <div class="input-email">
                                        <input type="email" name="email-form" id="subscribe-email" placeholder="Your email address..." />
                                    </div>
                                    <button type="button" id="subscribe-button" class="button-subscribe">SUBMIT NOW</button>
                                </div>
                                <div id="subscribe-msg"></div>
                            </form>
                        </div>
                    </el-col>
                </el-row>
            </div>          
        </footer>
    </el-container>
</template>

<style>
    .el-select .el-input {
        width: 110px;
    }

    .input-with-select .el-input-group__prepend {
        background-color: #fff;
    }

    .box-card {
        width: 100%;
        margin-bottom: 10px;
        margin-right: 5px;
        padding: 10px;
    }
    .card-right{
        float: right;
    }
</style>
<script>
    export default {
        data() {
            return {
                input3: '',
                input4: '',
                input5: '',
                select: '',
                categorylist: [],
                organizationbasicinfo: [],
                filterable: [],
                querycategory: '',
                querystring: '',
                stringfilterable: []
            }
        },
        mounted() {
            this.fetchCategory();
            this.fetchOrganizationBasicInfo();
        },

        methods: {
            DataSearch() {
                var vm = this;
                var stringfilterable = vm.organizationbasicinfo;

                vm.organizationbasicinfo = stringfilterable.filter(function (organization) {
                    return organization.organization_name.toLowerCase().includes(vm.querystring.toLowerCase())
                });
                return vm.organizationbasicinfo;

            },

            GetOrganizationInfo(selected) {
                var vm = this;
                var querystring = '';
                var querycategory_id = selected;
                vm.organizationbasicinfo = vm.filterable.filter(function (organization) {
                    return organization.category_id === querycategory_id;
                });
                return vm.organizationbasicinfo;
            },
            fetchCategory() {

                fetch('/api/categories')
                    .then(res => res.json())
                    .then(res => {
                        this.categorylist = res.data;
                    })
                    .catch(err => console.log(err));
            },
            fetchOrganizationBasicInfo() {
                fetch('api/organizationbasicinfo', {})
                    .then(res => res.json())
                    .then(res => {
                        this.organizationbasicinfo = res.data;
                        this.filterable = res.data;
                    })
                    .catch(err => console.log(err));
            }
        }
    }
</script>