<template>
   <el-row :gutter='10'>
                                <el-col :span="12" v-for="o in 12" :key="o" style="margin-bottom:10px;">
                                    <el-card class="box-card">
                                        <div slot="header" class="clearfix">
                                            <span class="designation">मेष - चु, चे, चो, ला, लि, लु, ले, लो, अ (Aries)</span>
                                        </div>
                                        <div class="text item media-info">
                                            <div class="img"><img src="images/static/aries.png" height="60" width="60"></div>
                                            <div class="info">
                                                <span class="designation">Lorem ipsum dolor sit amet, consectetur
                                                    adipisicing elit. Proin nibh augue
                                                    conseqaut nibbhi ellit ipsum consectetur.</span>
                                            </div>
                                        </div>
                                    </el-card>
                                </el-col>
                            </el-row>
</template>
<style>
    .el-select .el-input {
        width: 110px;
    }

    .input-with-select .el-input-group__prepend {
        background-color: #fff;
    }

    .el-card__body {
        padding: 10px;
    }

    .el-autocomplete {
        width: 100%;
    }

    .filter-meta .el-select .el-input {
        min-width: 190px;
    }

  
</style>
<script>
export default {
    props:["categorylist"],
        data(){
            return{
                querystring:'',
                querycategory:''
            }
        }
};
</script>
