/* Footer Top
---------------------------------------------------------------*/
.footer-top {
	background-color: #29282e;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
	padding: 34px 0;
	position: relative;
	z-index: 9;
}

.footer-top #logo-ft {
	margin-bottom: 0;
}

/* Iconbox Style2 v1 */
.iconbox.style2.v1 {
	padding: 6px 0;
}

.iconbox.style2.v1 .iconbox-icon {
	color: #18ba60;
}

.iconbox.style2.v1 .iconbox-content h4,
.iconbox.style2.v1 .iconbox-content p {
	color: #868686;
}

/* Footer 
---------------------------------------------------------------*/
#footer {
	background-color: #29282e;
	padding: 97px 0 62px;
	color: #fff;
}

#footer.style1 {
	padding-top: 67px;
}

.widget-ft h3.title {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	padding-bottom: 24px;
	margin-bottom: 24px;
	position: relative;
}

.widget-ft h3.title:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 1px;
	width: 50px;
	background-color: #fff;
	border-radius: 1px;
}

.widget-ft.style1 h3.title:before {
	background-color: #fff;
}

/* Widget About */
#logo-ft {
	margin-bottom: 32px;
}

.widget-about ul.social {
	margin-top: 29px;
}

.widget-about ul.social li {
	display: inline-block;
	margin-right: 1px;
}

.widget-about ul.social li a {
	display: inline-block;
	font-size: 16px;
	color: #fff;
	height: 40px;
	line-height: 40px;
	width: 40px;
	text-align: center;
	border-radius: 3px;
	background-color: #343339;
}

.widget-about ul.social li a:hover {
	color: #fff;
	background-color: #18ba60;
}

/* Widget Services */
.widget-services {
	margin-left: -1px;
}

.widget-services .one-half {
	width: 41%;
	float: left;
	margin-top: 2px;
}

.widget-services .one-half li {
	position: relative;
}

.widget-services .one-half li a:before  {
	content: "\f0da";
	font-family: 'FontAwesome';
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
    	-ms-transform: translateY(-50%);
    	 -o-transform: translateY(-50%);
    	 	transform: translateY(-50%);
}

.widget-services .one-half li a {
	color: #fff;
	line-height: 40px;
	display: inline-block;
	position: relative;
	padding-left: 18px;
	font-family: 'Lato';
}

.widget-services .one-half li a:hover {
	color: #18ba60;
}

/* Widget Lastest */


.widget-lastest h3.title {
	margin-bottom: 32px;
}

.widget-lastest ul {
	margin-top: 10px;
}

.widget-lastest ul li {
	margin-bottom: 16px;
    line-height: 26px;
    letter-spacing: 0.1px;
    padding-right: 10px;
}

.widget-lastest ul li a {
	font-family: "Lato";
}

.widget-lastest ul li a:not(:hover) {
	color: #fff;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Footer Bottom
---------------------------------------------------------------*/
.footer-bottom {
	padding: 26px 0 30px;
	background-color: #212025;
}

.footer-bottom .copyright {
	text-align: center;
	color: #fff;
	font-size: 16px;
}

.footer-bottom .copyright a {
	color: #18ba60;
	font-family: 'Lato';
}

.footer-bottom .copyright a:hover {
	color: #fff;
}