.main-feature-wrap {
  padding: 50px 0;
  text-align: center;

  h2 {
    color: #666;
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 30px;
  }

  h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .icons {
    margin-bottom: 15px;
    color: chocolate;
    text-align: center;

    i {
      font-size: 46px;
    }
  }
}

.contact-info-wrap {
  font-size: 14px;
  color: #666;
  margin-bottom: 40px;

  a {
    color: #666;
  }

  .slot {
    padding: 7px 0;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .contact-inner {
    background: #fff;
    padding: 30px 20px;
  }
}

/* Widget-subscribe */
.widget-subscribe {
	margin-left: -2px;
}

.widget-ft.widget-subscribe h3.title {
	margin-bottom: 40px;
}

.widget-subscribe form label {
	color: #ffffff;
	margin-bottom: 9px;
}

#subscribe-email {
  width: 100%;
  height: 50px;
	border-radius: 10px;
	background-color: rgba($color: #000, $alpha: .821);
	color: #fff;
      border: 1px solid #333;
      margin-bottom: 10px;
      padding: 10px;
}

#subscribe-email::placeholder {
	color: #fff;
}

#subscribe-email:focus {
	border-color: #18ba60;
}

.widget-subscribe form .button-subscribe:hover {
	background-color: #18ba60;
	border-color: #18ba60
}

.widget-subscribe button {
	letter-spacing: 0;
	border-radius: 25px;
	padding: 0 36px;
	height: 47px;
}

.notification_error {
    padding-top: 10px;
    color: #18ba60;
}

.notification_ok {
    text-align: center;
    color: #18ba60;
}

.cta-block {
  padding: 50px 0;
  background: #18ba60;
  color: #fff;
  font-size: 14px;
  text-align: center;
  margin-bottom: 40px;

  p {
    margin-bottom: 30px;
  }

  .el-button {
    background: #333 !important;
    color: #fff !important;

  }

  h2 {
    color: #fff;
    margin: 0 0 20px;
    font-size: 22px;
    font-weight: bold;
    
  }
}


