@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import "variables";
@import "info-box";
@import "footer";
@import "~bootstrap/scss/bootstrap";
*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}

html {
  font-size: 100%;
}

body {
  font: 14px/1.4 "Montserrat", sans-serif;
  min-width: 320px;
}

#app.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #f5f7fa;
}

.login-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #ebeeef;
}

.login-box {
  min-width: 500px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.1);
}
.login-form {
  padding: 20px 15px;
}
.login-title {
  padding: 80px 15px;
  text-align: center;
  color: #fff;
  background-color: #222;
  background-size: cover;
  border-radius: 2px 2px 0 0;
  position: relative;
  z-index: 1;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  h1 {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0;
    font-weight: 500;
  }
}

.sidebar {
  .el-menu {
    border-right: 0;
  }
}
.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
// .el-form{
//     padding: 20px;
//     width: 80%
// }
// .el-form-item__label {
//     padding: 0 30px 0 0;

// }
.publish_from {
  width: 275px;
}
.pagination {
  margin-top: 20px;
  float: right;
}

.el-button.is-right {
  float: right;
}
.el-input.search-input {
  width: 20%;
}
.grid-content {
  margin-bottom: 20px;
}

.el-aside {
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  padding-top: 55px;
  bottom: 0;
  background: #409eff !important;
  .side-menu {
    background: darken(#409eff, 10) !important;

    li {
      background: #409eff !important;

      &:hover {
        background: darken(#409eff, 10) !important;
      }
    }
  }
}

.el-main {
  margin-left: 250px;
  padding-top: 40px !important;

  .el-main {
    margin-left: 0;
  }
}

.aside-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar-nav {
  .el-dropdown {
    color: #f5f5f5;
    cursor: pointer;
  }
}

.el-menu-item,
.el-submenu__title {
  height: auto !important;
}

.nav-link {
  color: #fff;
  cursor: pointer;
  i {
    color: #fff !important;
  }

  &:hover {
    color: #ddd;
  }
}

.el-dialog-md {
  .el-dialog {
    max-width: 500px;
    width: 100%;
  }
}

.col-padd {
  padding: 0 15px;

  &:first-child {
    padding-left: 0;
  }
}

.col-upload {
  max-width: 400px;
}

.el-table__header {
  margin: 20px 0 0;
  tr {
    th {
      // background: #f5f5f5;
    }
    th.is-leaf:last-of-type {
    }
  }
}

.el-table__body-wrapper {
  tr {
    td:last-child {
    }
  }
}

.el-dialog label.el-form-item__label {
  line-height: 1.4;
  float: none;
}
.mb-40 {
  margin-bottom: 40px;
}
.col-sm-input {
  margin: 0 10px;
  display: inline-block;

  &:first-child {
    margin-left: 0;
  }
}
.avatar-header {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
}
// header main
.el-header.header-main {
  padding: 20px 0;
  height: auto !important;
  .logo {
    width: 90px;
    padding-right: 10px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.filter-meta {
  flex: 1 1 auto;

  .el-input-group__append,
  .el-input-group__prepend,
  .el-input__inner {
    border-color: #66b1ff;
  }

  .el-select .el-input {
    min-width: 150px;
  }
}

.main-nav {
  margin: 0 -10px 0 auto;
  .el-menu--horizontal {
    border-bottom: 0;
    margin-left: 40px;
    background: #f5f7fa;

    .el-menu-item {
      line-height: 40px;
      padding: 0 5px;
      margin: 0 5px;
      color: #66b1ff;
      font-weight: bold;
    }
  }
}

// visual
.visual {
  min-height: 350px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  .visual-frame {
    text-align: center;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 400px;
    border-radius: 100px 100px 0 0;
    background: #f5f7fa;
    padding: 25px 0;
    transform: translate(-50%, -50%);
    height: 80px;

    .btn-wrapper {
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      transform: translate(0, 50%);
    }

    .el-button {
      min-width: 130px;
      height: 50px;
    }
  }

  .bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(#0c5196, 0.875);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.3;
    }
  }

  .visual-text {
    padding: 0 20px 80px;
    text-align: center;
  }

  h2 {
    font: 500 28px/36px "Maven Pro", sans-serif;
    color: #fff;
    margin: 0 0 20px;
  }

  .content-title {
    font: 400 14px/24px "Maven Pro", sans-serif;
    color: #fff;
    margin: 0 0 20px;
    display: block;
  }

  @media only screen and (min-width: 768px) {
    .visual-text {
      width: 50%;
    }
    h2 {
      font-size: 36px;
      line-height: 40px;
    }
    .content-title {
      font-size: 20px;
      line-height: 28px;
    }
  }
}

.media-info {
  display: flex;
  align-items: center;

  .img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .info {
    width: calc(100% - 60px);
    padding-left: 10px;

    .name {
      display: block;
      font: 500 16px/20px "Maven Pro", sans-serif;
      color: #666;
    }

    .designation {
      display: block;
      font-size: 13px;
      color: #333;
    }
  }
}




.main-frame-top {
  padding: 40px 0;

  .img {
    margin: 0 auto 10px;
  }

  .inner {
    border-radius: 200px;
    padding: 30px 50px;
    
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }
}

.el-tabs__nav .el-tabs__item {
  font-size: 18px;
  height: 60px;
}
.material-icons {
  font-size: 18px;
}

@media only screen and (max-width: 767px) {
  .el-tabs--left .el-tabs__header.is-left {
    float: none !important;
  }
  .el-tabs--left .el-tabs__item.is-left,
  .el-tabs--left .el-tabs__item.is-right,
  .el-tabs--right .el-tabs__item.is-left,
  .el-tabs--right .el-tabs__item.is-right {
    display: inline-block !important;
    font-size: 14px !important;
    line-height: 20px;
    height: 30px;
  }
  .el-tabs--left .el-tabs__active-bar.is-left,
  .el-tabs--left .el-tabs__active-bar.is-right,
  .el-tabs--right .el-tabs__active-bar.is-left,
  .el-tabs--right .el-tabs__active-bar.is-right {
    display: none !important;
  }

  .el-tabs--left .el-tabs__header.is-left {
    margin: 0 0 10px !important;
  }
  .contact-info-wrap h2 {
    font-size: 1.5rem;
  }
  .main-frame-top {
    padding: 20px 0;

    .media-info {
      flex-direction: column;
      text-align: center;

      
    }
  
    .el-col {
      margin: 10px 0;
    }
  
    .inner {
      border-radius: 10px;
    }
    .search-card {
      width: 100%;
    }
  }
}
