<template>
    <div class="container centered">
        <h5 class="mb-40">Ads Manages</h5>
        <el-form :model="ads" :rules="rules" ref="ads" label-position="left" label-width="140px" class="adsform">
            <el-form-item label="Ads Name" prop="ads_name">
                <el-input v-model="ads.ads_name"></el-input>
            </el-form-item>
            <el-form-item label="Description">
                <!-- <el-input type="textarea" v-model="ads.description" style="width: 50%; hight:200px"></el-input> -->
                <vue-ckeditor v-model="ads.description" :config="config" @blur="onBlur($event)" @focus="onFocus($event)" />
            </el-form-item>
            <el-row>
                <el-col :span="12">
                    <el-form-item label="Publish From" required>
                        <el-form-item prop="published_from">
                            <el-date-picker v-model="ads.published_from" class="publish_from" type="date" placeholder="Pick a Date"
                                format="yyyy/MM/dd" value-format="yyyy-MM-dd">
                            </el-date-picker>
                        </el-form-item>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="Publish To" required>
                        <el-form-item prop="published_to">
                            <el-date-picker v-model="ads.published_to" type="date" placeholder="Pick a Date" format="yyyy/MM/dd"
                                value-format="yyyy-MM-dd">
                            </el-date-picker>
                        </el-form-item>
                    </el-form-item>
                </el-col>
            </el-row>


            <el-form-item label="Activity type">
                <div class="col-sm-input">
                    <el-checkbox-group v-model="ads.is_active">
                        <el-checkbox label="Is Active" name="type" :value="ads.is_active" :checked="!!+ads.is_active">
                        </el-checkbox>
                    </el-checkbox-group>
                </div>
                <div class="col-sm-input">
                    <el-checkbox-group v-model="ads.is_feature">
                        <el-checkbox label="Is Feature" name="type" :value="ads.is_feature" :checked="!!+ads.is_feature">
                        </el-checkbox>
                    </el-checkbox-group>
                </div>
            </el-form-item>
            <el-form-item label="Ads Image" required>
                <el-form-item class="col-upload" prop="ads_image">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Upload</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" v-on:change="onFileChange" class="custom-file-input" id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                    </div>
                </el-form-item>
                <small id="fileHelp" class="form-text text-muted">Upload High Quality Images </small>
                <img :src="ads.ads_image" class="img-responsive">
            </el-form-item>
            <el-form-item>
                <el-button type="info" round @click="resetForm('ads')">Value Reset</el-button>
                <router-link :to="{ name: 'AdsManage' }">
                    <el-button type="primary" round>Back</el-button>
                </router-link>
                <el-button type="primary" round @click="submitForm('ads')">Save</el-button>
            </el-form-item>
        </el-form>
    </div>
</template>
<style scoped>
    img {
        max-height: 120px;
    }
</style>
<script>
    import VueCkeditor from "vue-ckeditor2";
    import {
        Message
    } from 'element-ui';
    export default {
        props: ["adsid", "editation"],
        components: {
            VueCkeditor
        },
        data() {
            return {
                content: "",
                config: {
                    height: 150
                },
                adslist: [],
                ads: {
                    id: "",
                    ads_name: "",
                    description: "",
                    published_from: "",
                    published_to: "",
                    is_active: "",
                    is_feature: "",
                    ads_image: ""
                },
                ads_id: "",
                pagination: {},
                edit: false,

                rules: {
                    ads_name: [{
                        required: true,
                        message: "Please input Ads name",
                        trigger: "change"
                    }],

                    published_from: [{
                        required: true,
                        message: "Please pick a date",
                        trigger: "change"
                    }],
                    published_to: [{
                        required: true,
                        message: "Please pick a date",
                        trigger: "change"
                    }],
                    ads_image: [{
                        required: true,
                        message: "Please pick a images",
                        trigger: "change"
                    }]
                }
            };
        },

        beforeMount() {
            this.loading = this.$loading({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.7)'
            });

            setTimeout(() => {
                this.loading.close();
            }, 500);
            if (this.editation != true) {} else {
                var ads = this.adsid;
                this.EditAds(ads);
            }
        },
        methods: {
            onBlur(editor) {},

            onFocus(editor) {},
            onFileChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length) return;
                this.createImage(files[0]);
            },

            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = e => {
                    this.ads.ads_image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            EditAds(ads) {
                this.edit = true;
                this.ads.id = ads.id;
                this.ads.ads_id = ads.id;
                this.ads.ads_name = ads.ads_name;
                this.ads.description = ads.description;
                this.ads.published_from = ads.published_from;
                this.ads.published_to = ads.published_to;
                this.ads.is_feature = ads.is_feature;
                this.ads.is_active = ads.is_active;
                this.ads.ads_image = ads.ads_image;
            },

            submitForm(formName) {
                this.$refs[formName].validate(valid => {
                    if (valid) {
                        if (this.edit === false) {
                            fetch("api/ads", {
                                    method: "POST",
                                    body: JSON.stringify(this.ads),
                                    headers: {
                                        "content-type": "application/json",
                                        Authorization: "Bearer " + localStorage.getItem("access_token")
                                    }
                                })
                                .then(res => res.json())
                                .then(data => {
                                    if (data.error) {
                                        this.$message({
                                            showClose: true,
                                            message: data.error,
                                            type: 'error'
                                        })
                                    } else {
                                        this.$router.push('/adslisting', () => {
                                            this.$message({
                                                showClose: true,
                                                message: 'Congrats, Ads is Successfully Added to ours System',
                                                type: 'success'
                                            });
                                        });
                                    }
                                })
                                .catch(err => console.log('raja'));
                        } else {
                            fetch("api/ads", {
                                    method: "put",
                                    body: JSON.stringify(this.ads),
                                    headers: {
                                        "content-type": "application/json",
                                        Authorization: "Bearer " + localStorage.getItem("access_token")
                                    }
                                }).then(res => res.json())
                                .then(data => {
                                    if (data.error) {
                                        this.$message({
                                            showClose: true,
                                            message: data.error,
                                            type: 'error'
                                        })
                                    } else {
                                        this.$router.push('/adslisting', () => {
                                            this.$message({
                                                showClose: true,
                                                message: 'Congrats, Items is Successfully Edit to ours System',
                                                type: 'success'
                                            });
                                        });
                                    }
                                })
                                .catch(err => console.log(err));
                        }
                    } else {
                        console.log("error submit!!");
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
        }
    };
</script>