<template>
    <el-main>
        <div class="container centered">
            <el-row>
                <el-col :span="24">
                    <div class="grid-content">
                        <el-button type="primary" class="is-right" @click="AddFormclearHandle()" round>Add New</el-button>
                    </div>
                </el-col>
            </el-row>
            <el-dialog class="el-dialog-md" title="Add Category" :visible.sync="dialogFormVisible" :before-close="handleClose">
                <el-form :model="category" :rules="rules" ref="category">
                    <el-form-item label="Category Name" prop="category_name">
                        <el-input v-model="category.category_name"></el-input>
                    </el-form-item>
                    <el-form-item label="Category Image" required>
                        <el-form-item prop="category_image">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Upload</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" v-on:change="onFileChange" class="custom-file-input" id="inputGroupFile01">
                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                </div>
                            </div>
                        </el-form-item>
                        <small id="fileHelp" class="form-text text-muted">Upload High Quality Images </small>
                        <img :src="category.category_image" class="img-responsive">
                    </el-form-item>
                    <el-form-item label="Activity type">
                        <el-col :span="6">
                            <el-checkbox-group v-model="category.is_active">
                                <el-checkbox label="Is Active" name="type" :value="category.is_active" :checked="!!+category.is_active">
                                </el-checkbox>
                            </el-checkbox-group>
                        </el-col>
                    </el-form-item>
                </el-form>

                <span slot="footer" class="dialog-footer">
                    <el-button @click="handleCancle()">Cancel</el-button>
                    <el-button type="primary" @click="resetForm('category')">Reset</el-button>
                    <el-button type="primary" @click="submitForm('category')">Save</el-button>
                </span>
            </el-dialog>

            <el-table :data="categories" :default-sort="{prop: 'category_name', order: 'descending'}" style="width: 100%">
                <el-table-column prop="category_name" label="Category Title" sortable width="180">
                </el-table-column>

                <el-table-column label="Category Image" prop="category_image">
                    <template slot-scope="scope">
                        <img :src="scope.row.category_image" alt="" width="50" height="50">
                    </template>
                </el-table-column>
                <el-table-column prop="is_active" label="Is Active">
                </el-table-column>
                <el-table-column label="Operations">
                    <template slot-scope="scope">
                        <el-button size="mini" @click="editCategory(scope.row)">Edit</el-button>
                        <!-- <el-button size="mini" type="danger" @click="centerDialogVisible = true" @click="handleDelete(scope.row.id)">Delete</el-button> -->
                        <el-button size="mini" type="danger" @click="Modelhandledelete(scope.row.id)">Delete</el-button>

                        <el-dialog title="Warning" :visible.sync="centerDialogVisible" width="30%" center>
                            <span>It should be noted that the content will be deleted</span>
                            <span slot="footer" class="dialog-footer">
                                <el-button @click="centerDialogVisible = false">Cancel</el-button>
                                <el-button type="primary" @click="handleDelete(deleteid)">Confirm</el-button>
                            </span>
                        </el-dialog>
                    </template>
                </el-table-column>

            </el-table>

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li v-bind:class="[{disabled: !pagination.pre_page_url}]" class="page-item">
                        <a class="page-link" href="#" @click="fetchCategory(pagination.pre_page_url)">Previous</a>
                    </li>

                    <li class="page-item disabled">
                        <a class="page-link text-dark" href="#">Page {{ pagination.current_page}} of {{
                            pagination.last_page}}</a>
                    </li>

                    <li v-bind:class="[{disabled: !pagination.next_page_url}]" class="page-item">
                        <a class="page-link" href="#" @click="fetchCategory(pagination.next_page_url)">Next</a>
                    </li>
                </ul>
            </nav>

        </div>
    </el-main>
</template>
<style scoped>
    img {
        max-height: 120px;
    }
</style>
<script>
    import {
        Message
    } from 'element-ui';
    export default {

        data() {
            return {
                categories: [],
                category: {
                    id: '',
                    category_name: '',
                    category_image: '',
                    is_active: '',
                    category_id: '',
                },
                formLabelWidth: '120px',
                pagination: {},
                edit: false,
                loading: false,
                centerDialogVisible: false,
                dialogFormVisible: false,
                deleteid: 0,

                rules: {
                    category_name: [{
                        required: true,
                        message: "Please input Category name",
                        trigger: "change"
                    }],
                    category_image: [{
                        required: true,
                        message: "Please pick a Category images",
                        trigger: "change"
                    }]
                }
            };
        },

        beforeMount() {
            this.loading = this.$loading({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.7)'
            });

            setTimeout(() => {
                this.loading.close();
            }, 500);
            this.fetchCategory();
        },
        methods: {
            AddFormclearHandle(){
                this.category.category_name = '';
                this.category.category_image = '';
                this.category.is_active = '';
                this.dialogFormVisible = true;
            },
            handleCancle() {
                this.edit = false;
                this.resetForm('category');
                this.dialogFormVisible = false;
            },
            handleClose(done) {
                this.edit = false;
                this.resetForm('category');
                done();
            },

            Modelhandledelete(id) {
                this.centerDialogVisible = true;
                this.deleteid = id;

            },

            onFileChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length) return;
                this.createImage(files[0]);
            },

            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = e => {
                    this.category.category_image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            fetchCategory(page_url) {
                let vm = this;
                page_url = page_url || '/api/categories'
                fetch(page_url, {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('access_token')
                        }
                    })
                    .then(res => res.json())
                    .then(res => {
                        this.categories = res.data;
                        vm.makePagination(res.meta, res.links);
                    })
                    .catch(err => console.log(err));
            },

            makePagination(meta, links) {
                let pagination = {
                    current_page: meta.current_page,
                    last_page: meta.last_page,
                    next_page_url: links.next,
                    pre_page_url: links.prevs
                }
                this.pagination = pagination;
            },

            editCategory(category) {
                this.dialogFormVisible = true;
                this.edit = true;
                this.category.id = category.id;
                this.category.is_active = category.is_active;
                this.category.category_id = category.id;
                this.category.category_name = category.category_name;
                this.category.category_image = category.category_image
            },

            handleDelete(id) {
                this.centerDialogVisible = false;
                fetch(`api/category/${id}`, {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('access_token')
                        },
                        method: 'delete'
                    })
                    .then(res => res.json())
                    .then(data => {
                        if (data.error) {
                            this.$message({
                                showClose: true,
                                message: data.error,
                                type: 'error'
                            })
                        } else {
                            this.fetchCategory();
                            this.$message({
                                showClose: true,
                                message: 'Congrats, Ads is Successfully deleted to ours System',
                                type: 'success'
                            });
                        }
                    })
                    .catch(err => console.log(err));

            },

            submitForm(formName) {
                this.$refs[formName].validate(valid => {
                    if (valid) {
                        if (this.edit === false) {
                            fetch("api/category", {
                                    method: "POST",
                                    body: JSON.stringify(this.category),
                                    headers: {
                                        "content-type": "application/json",
                                        Authorization: "Bearer " + localStorage.getItem("access_token")
                                    }
                                })
                                .then(res => res.json())
                                .then(data => {
                                    if (data.error) {
                                        this.$message({
                                            showClose: true,
                                            message: data.error,
                                            type: 'error'
                                        })
                                    } else {
                                        this.dialogFormVisible = false;
                                        this.fetchCategory();
                                        this.$message({
                                            showClose: true,
                                            message: 'Congrats, Ads is Successfully Added to ours System',
                                            type: 'success'
                                        });

                                    }
                                })
                                .catch(err => console.log('raja'));
                        } else {
                            fetch("api/category", {
                                    method: "put",
                                    body: JSON.stringify(this.category),
                                    headers: {
                                        "content-type": "application/json",
                                        Authorization: "Bearer " + localStorage.getItem("access_token")
                                    }
                                }).then(res => res.json())
                                .then(data => {
                                    if (data.error) {
                                        this.$message({
                                            showClose: true,
                                            message: data.error,
                                            type: 'error'
                                        })
                                    } else {
                                        this.dialogFormVisible = false;
                                        this.fetchCategory();
                                        this.$message({
                                            showClose: true,
                                            message: 'Congrats, Items is Successfully Edit to ours System',
                                            type: 'success'
                                        });
                                    }
                                })
                                .catch(err => console.log(err));
                        }
                    } else {
                        console.log("error submit!!");
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
        }
    };
</script>