<template>
<div>
  <div class="container">
    <h2>Re-Set Password</h2><br>
    <form @submit.prevent="ResetPassword" class="mb-12">
      <div class="form-group">
        <label for="exampleInputEmail1">New Password</label>
        <input type="password" class="form-control" placeholder="Enter Level Name" v-model="credential.new_password">
      </div>
      <ui-button color="primary">Save</ui-button>
    </form>
    <br>
  </div>
</div>
</template>

<script>
  export default {
    data() {
      return {
        credential: {
         new_password:''
        },
      }
    },

    methods: {
      ResetPassword() {
          fetch('api/password/reset', {
              method: 'POST',
              body: JSON.stringify({
                 "password": this.credential.new_password
              }),
              headers: {
                'content-type': 'application/json',
                 Authorization: 'Bearer ' + localStorage.getItem('access_token')
              }
            })
            .then(res => res.json())
            .then(data => {
              debugger;
                this.credential.new_password = '';
                this.$router.push({ name: 'LandingPage' })
            })
            .catch(err =>{
              this.message = err;
            });
      },
    }
  }
</script>