<template>
    <div>
        <div class="container">
            <h3>Profile Update </h3><br>
            <form @submit.prevent="ProfileUpdate">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="exampleFormControlInput1">Full Name</label>
                        <input type="text" class="form-control" v-model="user.full_name">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="exampleFormControlInput1">Email</label>
                        <input type="email" class="form-control" v-model="user.email">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="exampleFormControlInput1">Phone no.</label>
                        <input type="text" class="form-control" v-model="user.phone_no">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="exampleFormControlInput1">Street Address</label>
                        <input type="text" class="form-control" v-model="user.street_address">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="exampleFormControlInput1">User Information</label>
                        <input type="text" class="form-control" v-model="user.user_information">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-6">
                        <label for="exampleFormControlFile1">Profile Images</label>
                        <img :src="user.profile_image_url" class="img-responsive">
                    </div>
                    <div class="col-md-6">
                        <input type="file" v-on:change="onFileChange" class="form-control">
                    </div>

                </div>
                <button type="submit" class="btn btn-primary">Profile Update</button>
                <router-link :to="{ name: 'LandingPage' }">
                    <button class="btn btn-primary">Back</button>
                </router-link>
            </form>
        </div>
    </div>


</template>
<style scoped>
    img {
        max-height: 150px;
    }
</style>
<script>
    export default {
        data() {
            return {
                user: {
                    full_name: '',
                    email: '',
                    phone_no: '',
                    profile_image_url: '',
                    street_address: '',
                    user_information: ''
                },
            }
        },
        beforeMount() {
            this.fetchUserProfileData();
        },

        methods: {

            onFileChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },

            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    this.user.profile_image_url = e.target.result;
                };
                reader.readAsDataURL(file);
            },

            fetchUserProfileData() {
                fetch('api/profile_data', {
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem('access_token')
                        }
                    })
                    .then(res => res.json())
                    .then(res => {
                        this.user = res.data;
                    })
                    .catch(err => console.log(err));
            },

            clearform() {
                this.user.full_name = '',
                    this.user.email = '',
                    this.user.phone_no = '',
                    this.user.profile_image_url = '',
                    this.user.street_address = '',
                    this.user.user_information = ''
            },

            ProfileUpdate() {
                if (confirm('Are you Sure ?')) {
                    fetch("api/profile_data", {
                            method: "POST",
                            body: JSON.stringify(this.user),
                            headers: {
                                "content-type": "application/json",
                                Authorization: 'Bearer ' + localStorage.getItem('access_token')
                            }
                        })
                        .then(res => res.json())
                        .then(data => {
                            fetchUserProfileData();
                            alert('Profile updated');
                        })
                        .catch(err => console.log(err));
                }
            }

        },
    }
</script>